@charset "UTF-8";

/* color list */
$main-color: #3a485f;
$shadow-color: #253144;
$high-light-color: #5596d2;
$font-color: #656565;
$success-color: #26a69a;
$notification-color: #E57373;

/* ポップアップ */

#popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.popup-off { display: none; }

  #popup-frame-base {
    position:relative;
    width: 100%;
    height: 100%;

    #popup-bg {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 50;
    }

    #popup-frame {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      margin: auto;
      z-index: 51;

      #popup-content{

        #popup-title {
          display: flex;
          background-color: $main-color;
          height: 3.5rem;

          i {
            margin: 1.1rem 1rem;
            color: #FFF;
          }

          h2 {
            margin-bottom: 0;
            padding: 0.7em 1rem 0.3em 0;
            width: calc(100% - 2rem);
          }
          #popup-close-btn {
            padding: 0rem 1.1rem;
            font-size: 33px;
            color: #FFF;
            border-left: 1px solid #FFF;
            display: block;
            width: 1em;
            text-align: center;

            &:hover {
              background-color: $shadow-color;
            }
          }
        }

        #popup-main {
          padding: 1rem 1.5rem;
        }

        #popup-button {
          display: flex;
          padding: 0.5rem;
          justify-content: space-around;
        }
      }
    }
  }
}

/* フラッシュメッセージ用スタイル */
#shortMessage {
  width: 70%;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 5px auto;
  z-index: 50;
  padding: 15px;
  border-radius: 10px;
  color: #FFF;
  font-weight: bold;
  opacity: 1;

  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    border: 12px solid transparent;
  }

  &.success {
    background-color: #86C18D;

    &:after {
      border-top: 12px solid #86C18D;
    }
  }

  &.failure {
    background-color: #C18686;

    &:after {
      border-top: 12px solid #C18686;
    }
  }
}

/* ポップアップ用:バックグラウンド */
#popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

/* ポップアップ用非表示クラス */
.popup-off {
  display: none;
}

/*確認ダイアログ*/
.p-confirm {
  width: 400px;
  font-size: 13px;

  i {
    &:before {
      content: "\f013";
    }
  }

  .action_btn {
    width: 5.5em;
  }

  .normal_btn {
    width: 5.5em;
  }
}

/*アラート*/
.p-alert {
  width: 400px;

  i{
    &:before {
      content: "\f013";
    }
  }
}

/*アカウント設定*/

.p-muser-update {
  width: 400px;
  i {
    &:before {
      content: "\f013";
    }
  }

  .fa-cog {
  color: #fff;
  margin-left: 6px;
  }

  input#MAdministratorUserName {
    margin-left: 88px;
  }

  input#MAdministratorMailAddress {
    margin-left: 33px;
  }

  input#MAdministratorNewPassword {
    margin-left: 55px;
  }

  .action_btn {
    width: 5.5em;
  }

  .normal_btn {
    width: 5.5em;
  }
}

/*アカウント設定*/
.p-muser-entry {
  width: 532px;
  i {
    &:before {
      content: "\f013";
    }
  }

label {
    font-weight: bold;
}

#popup-main {
    padding: 3rem 1.5rem;
}

  .fa-cog {
    color: #fff;
    margin-left: 6px;
  }

  input#MAdministratorUserName {
    margin-left: 98px;
  }

  input#MAdministratorMailAddress {
    margin-left: 33px;
  }

  input#MAdministratorNewPassword {
    margin-left: 59px;
  }

  .action_btn {
    width: 5.5em;
  }

  .normal_btn {
    width: 5.5em;
  }
}

span {
    margin-top: 4px;
    font-size: 13px;
}

p.error-message {
  color: $notification-color;
  margin-left: 30px;
  width: 336px;
  font-size: 12px;
  margin-bottom: 0px;
}

/*簡易入力メッセージ設定*/
.p-tdictionary-entry {
  width: 532px;

  .form01 {
    > div {
      display: flex;
      flex-direction: column;
      margin: 5px 0;

      div#inputStr {
        display: flex;
        flex-direction: column;

        .balloon {
          display: none;
          position: fixed;
          background-color: #FFF;
          box-shadow: 0 0 1px rgba(0,0,0,0.85);
          padding: 0.5em 1em;
          border-radius: 10px!important;

          span{
            position: relative;
            cursor: pointer;

            &:before {
              content: "";
              border-top: 4px solid rgba(0, 0, 0, 0.13);
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              position: absolute;
              bottom: -1em;
              left: -0.5em;
            }
            &:after {
              content: "";
              border-top: 10px solid #fff;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              position: absolute;
              bottom: -1em;
              left: -0.5em;
            }
          }
        }
      }

      textarea {
        border-radius: 0 0 5px 5px !important;
        border: 1px solid #909090 !important;
        padding: 5px;
        border-top: none;
      }

      label {
        width: 5em!important;
        display: block;
        font-weight: bold;
        font-size: 13px;
      }

      textarea {
        margin: 0px;
        height: 120px;
        resize: none;
      }
    }
  }

  i {
    &:before {
      content: "\f013";
    }
  }

  .fa-cog {
    color: #fff;
    margin-left: 6px;
  }

  #TDictionaryAddForm{
    menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-bottom: 0;
      border: 1px solid #3a485f;;
      border-radius: 5px 5px 0 0;
      background-color: #3a485f;;
      border-bottom: none;
      padding: 0.5em 0;

      > span {
        padding: 0.25em 1em;
        font-size: 1.15em;
        background-color: #ffffff !important;
        color: #868686 !important;
        border: none !important;
        cursor: pointer !important;
        color: #888;
      }

      > span:hover {
        color: #3a485f !important;
      }
    }
  }

  .action_btn {
    width: 5.5em;
  }

  .normal_btn {
    width: 5.5em;
  }
}

.w100 {
  width: 100% !important;
}