
@charset "UTF-8";

/* ポップアップ */

#popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  #popup-frame-base {
    position:relative;
    width: 100%;
    height: 100%;

    #popup-frame {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      margin: auto;
      z-index: 51;

      /* リアルタイムモニタ-ポップアップ用 */
      &.p-cus-menu {
        width: 450px;
        max-height: 80%;
        // display: inline-table;
        .ms-container {
          margin: 0 auto;
        }
        #popup-button .textBtn {
          width: 5em;
          margin: 0 auto;
        }
      }

      /* ウィジェット設定-ギャラリー用 */
      &.p-show-gallary, &.p-show-notification-gallary {
        width: 290px;
        max-height: 80%;

        .ms-container {
          margin: 0 auto;
        }
        #popup-main ul {
          padding: 0;
          display: inline-block;

          li {
            float: left;
            padding: 3px 4px 0 4px;
            margin: 5px;
            position: relative;
            cursor: pointer;
            background-color: #B7B7B7;
            box-shadow: 0 0 2px rgba(0,0,0,0.3);

            &:after {
                content: " ";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0;
                padding: 0;
                background-color: #333;
                transition: height 100ms linear;
                opacity: 0.9;
            }
            &:hover:after {
                content: "これに決定";
                height: 1.5em;
                padding: 0.25em 0;
                transition: height 100ms linear;
                box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.3);
                background-color: #3A3A3A;
                background-color: rgba(58, 58, 58, 0.7);
                color: #FFF;
                text-align: center;
                font-size: 11px;
            }

            > img {
              box-shadow: 0 0 1px rgba(0,0,0,0.3);
            }

          }

        }
        #popup-button {
          width: 200px;
          margin: 0 auto;

          .textBtn {
            width: 5em;
            margin: 0 auto;
          }
        }
      }

      /*ポップアップ用:装飾系*/
      #popup-content {
        position: relative;

        #popup-title {
          padding: 12px 0 5px;
          text-align: center;
          border-bottom: 1px solid #909090;
          font-size: 18px;
          color: #555;
        }

        #popup-main {
          padding: 20px;
        }

        #popup-button {
          height: 50px;
        }

      }

      #popup-ctrl-btn {
        position: absolute;
        top: -10px;
        right: -10px;
        a {
          width: 30px;
          height: 30px;
          padding: 5px;
          float: left;
          margin-right: 5px;
          border-radius: 15px;
        }
      }

      /* リアルタイムモニタ-表示項目選択ダイアログ用 */
      &.p-cus-menu {
        #popup-main {
          display: inline-block;
          width: 100%;
        }
      }

      /* リアルタイムモニタ-移動履歴用 */
      &.p-cus-history {
        width: 400px;

        .ms-container {
          margin: 0 auto;
        }
        #tBodyDiv {
          height: 250px;
          overflow-x: hidden;
          overflow-y: auto;
          width: 360px;
        }
        #popup-button .textBtn {
          width: 5em;
          margin: 0 auto;
        }
        #popup-main #frame {
          height: 160px;
          width: 100%;
          overflow: auto;
          display: flex;
        }

        #popup-main table {
          table-layout: fixed;
          border-collapse: collapse;
        }
        table {
          th {
            background-color: #C3D69B;
            border: none;
            border-bottom: 1px solid #595959;
            border-left: 1px solid #595959;
            &:first-child {
              border-left: none;
            }
          }
          td {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            border-left: 1px solid rgba(0, 0, 0, 0);
            &:first-child {
              border-left: none;
            }
          }
          .popupHistoryNo {
            width: 40px;
          }
          .popupHistoryUrl {
            width: 200px;
          }
          .popupHistoryTimer {
            width: 100px;
          }
          td span {
            word-wrap: break-word;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            padding: 2px;
          }
        }
      }

      &.p-cus-connection {
         width: 500px;

         div#popup-main { text-align: center }

         div#popup-button {
           display: flex;
           flex-direction: row;
           justify-content: space-around;

           a {
             flex-basis: 140px;
             height: 2em;
             margin: 0 5px;
             padding: 0.25em 0;
             font-size: 1.1em;
           }
         }
      }

      &.p-cus-select-sharing-mode {
        width: 500px;

        div#popup-main { text-align: center }

        div#popup-button {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          a {
            flex-basis: 140px;
            height: 2em;
            margin: 0 5px;
            padding: 0.25em 0;
            font-size: 1.1em;
            &.large {
              flex-basis: 178px;
            }
          }
        }
      }

      &.p-cus-detail {
        width: 400px;

        #popup-main {
          text-align: center;
        }

        #popup-button {
          width: 350px;
          margin: 0 auto;

          a {
            width: 10em;

            &:nth-child(odd) {
              float: left;
            }

            &:nth-child(even) {
              float: right;
            }
          }
        }
      }

      &.p-chat-logs {
        width: 400px;

        #popup-main {
          text-align: center;

          ul{
            height: 300px;
            padding: 0;
            overflow-y: scroll;
            overflow-x: hidden;
            border: 1px solid #7F7F7F;
            padding-top: 5px;
            background-color: #FDFDFD;

            * {
              color: #929292;
            }


            li {

              &.sinclo_re, &.sinclo_se, &.sinclo_auto {
                width: 280px;
                text-align: left;
                border: 1px solid #C9C9C9;
                padding: 5px;
                border-radius: 5px;
                white-space: pre-wrap;
                word-break: break-all;
                word-wrap: break-word;
              }

              &.sinclo_etc {
                margin: 0 55px 10px 20px;
                margin: 0 auto 10px auto;
              }

              p {
                margin: 0 0 5px 0;
                font-size: 1.1em;
                display: none;
              }

              &.sinclo_re {
                margin: 0 55px 10px 20px;
                border-bottom-left-radius: 0;
                background-color: #F1F5C8;
              }
              &.sinclo_se, &.sinclo_auto {
                margin: 0 20px 10px 55px;
                border-bottom-right-radius: 0;
                background-color: #FFF;
              }

              span {
                display: block;
                font-weight: bold;
                font-size: 13px;
                margin: 0 0 5px 0;
              }

              div.sendFileContent {
                display: table;
                table-layout:fixed;
                width: 100%;
                height: 64px;
                white-space: initial;
                margin-bottom: 0!important;
                div.sendFileThumbnailArea {
                  display: table-cell;
                  width: 64px;
                  height: 64px;
                  border: 1px solid #D9D9D9;
                  .sendFileThumbnail {
                    text-align: center;
                    vertical-align: middle;
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    margin-left: 0;
                    margin-bottom: 0px;
                    margin-right: auto;
                  }
                  &:before {
                    content: "";
                    height: 100%;
                    vertical-align: middle;
                    width: 0px;
                    display: inline-block;
                  }
                }
                div.sendFileMetaArea {
                  display:table-cell;
                  vertical-align: middle;
                  margin-left: 10px;
                  margin-bottom: 0px;
                  .data {
                    margin-left: 1em;
                    margin-bottom: 5px;
                    display: block;
                    font-weight: normal;
                    &.sendFileSize {
                      margin-bottom: 0px;
                    }
                  }
                }
              }
            }

          }

          #popupCloseBtn {
            padding: 0.25em 0;
            text-align: center;
          }
        }

        #popup-button {

          a {
            width: 10em;
            margin: 0 auto;
          }
        }
      }

      /* リアルタイムモニタ、履歴一覧-企業詳細情報用*/
      &.p-cus-company-detail {
        width: 94em;

        #popup-main {
          padding: 1.5em;
          display: flex;
          display: -moz-flex;
          display: -o-flex;
          display: -webkit-flex;
          display: -ms-flex;
          flex-direction: row;
          -moz-flex-direction: row;
          -o-flex-direction: row;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;

          .right-area {
            margin-left: 10px;
            .address-view {
              word-break: break-all;
            }
            .ip-view {
              height: 14em;
              .ip-show-area {
                overflow-y: auto;
                .ip-row {
                  display:block;
                  margin-bottom: 0.5em;
                }
              }
            }
          }

          ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            width: 45em;

            li {
              display: flex;
              flex-direction: row;
              border-bottom: 1px solid #FFF;

              > * {
                padding: 0.5em;
                margin: 0;
              }

              p {
                width: 12em;
                background-color: #AFAFAF;

                span {
                  color: #FFF;
                }
              }

              > span {
                background-color: #F0F0F0;
                width: 33em;
                display: block;

                textarea, input[type='text'] {
                  width: 100%;
                  resize: none;
                }
              }


            }

          }
        }

        #popup-button {
          display: flex;
          padding-bottom: 25px;

          a {
            width: 75px;
            margin: 0 auto;
          }
        }
      }

      /* リアルタイムモニタ、ファイル送信ポップアップ用*/
      &.p-cus-file-upload {
        width: 50em;

        #popup-main {
          .upload-select-menu {
            width: 100%;
            background-color: #aeca74;
            border-radius: 5px;
            padding: 0.25em 0.25em 1.7em;
            color: #FFF;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            display: block;
            text-align: center;
            &:hover {
              background-color: #B8D47E;
            }
            &.hovering {
              background-color: #B8D47E;
            }
          }

          #fileUploadPopupContent {
            text-align: center;
          }

          #fileUploadMenuArea {
            .error-message {
              padding-top: 1em;
              display: none;
            }
          }

          #fileDropArea {
            img {
              display: block;
              margin: 0 auto;
            }

            span {
              color: #FFF;
              font-size: 1.5em;
              margin-bottom: 2em;
            }
          }
          #fileSelectArea {
            margin-top: 1em;
            height: 3em;
            span {
              display: block;
              line-height: 1.7em;
              height: 100%;
              color: #FFF;
              font-size: 1.5em;
              margin-bottom: 2em;
            }
          }

          #fileUploadConfirmArea {

          }
        }
        #popup-button {
          width: 30em;
          margin: 0 auto;
          a {
            width: 10em;

            &:nth-child(odd) {
              float: left;
            }

            &:nth-child(even) {
              float: right;
            }
          }
        }
      }

      /* 履歴一覧-ポップアップ用 */
      &.p-history-logs {
        width: 600px;
        height: 300px;
        // display: inline-table;
        .ms-container {
          margin: 0 auto;
        }
        #popup-button .textBtn {
          width: 5em;
          margin: 0 auto;
        }
        #popup-main #frame {
          height: 160px;
          width: 100%;
          overflow: auto;
          display: flex;
        }
        // #popup-button {
        //   height: 50px;
        // }
        #popup-main {
          position: relative;
          height: 280px;
          margin: 20px 0;
          padding: 0 !important;
          #tHeadDiv {
            position: absolute;
            top: 0;
            left: 30px;
          }
          #tBodyDiv {
            height: 250px;
            overflow-x: hidden;
            overflow-y: auto;
            position: absolute;
            top: 20px;
            left: 30px;
          }
          table {
            table-layout: fixed;
            border-collapse: collapse;
          }
        }
        table {
          th {
            background-color: #C3D69B;
            border: none;
            border-bottom: 1px solid #595959;
            border-left: 1px solid #595959;
            &:first-child {
              border-left: none;
            }
          }
          td {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            border-left: 1px solid rgba(0, 0, 0, 0);
            padding: 3px;

            &:first-child {
              border-left: none;
            }
          }
          .popupHistoryNo {
            width: 60px;
          }
          .popupHistoryUrl {
            width: 200px;
          }
          .popupHistoryTimer {
            width: 100px;
          }
          td span {
            word-wrap: break-word;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            padding: 2px;
          }
        }
      }

      /* 履歴一覧-詳細情報ダイアログ用 */
      &.p-history-cus {
        width: 48em;

        #popup-main {
          padding: 1.5em;

          ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            width: 45em;

            li {
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid #FFF;

                > * {
                  padding: 0.5em;
                  margin: 0;
                }

                p {
                  width: 12em;
                  background-color: #AFAFAF;

                  span {
                    color: #FFF;
                  }
                }

                > span {
                  background-color: #F0F0F0;
                  width: 33em;
                  display: block;

                  textarea, input[type='text'] {
                    width: 100%;
                    resize: none;
                  }
                }


            }

          }
        }

        #popup-button {
          display: flex;
          padding-bottom: 25px;

          a {
            width: 75px;
            margin: 0 auto;
          }
        }
      }

      /* 履歴-検索ダイアログ用　*/
      &.p-thistory-entry {
        width: 48em;

        input#day_search {
          cursor: pointer;
        }

        input#dateperiod {
          background-image: url('/img/calender.png');
          background-repeat: no-repeat;
          background-position: right 10pt bottom 4pt;
          background-size: 15px;
          cursor: pointer;
        }

        & input.extinguish {
          visibility: hidden;
        }


        #popup-main ul {
          margin: 0;
          padding: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 45em;

          li {
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            border-bottom: 1px solid #FFF;

            p {
              width: 12em;
              background-color: #AFAFAF;

              span {
                color: #FFF;
              }
            }

            & > span {
              background-color: #F0F0F0;
              width: 33em;
              display: block;

              input[type='text'] {
                width: 100%;
                resize: none;
              }
            }

            & > * {
              padding: 0.5em;
              margin: 0;
            }
          }
        }

        & #popup-button {
          width: 18em;
          margin: 0 auto;

          .textBtn {
            width: 6em;
            margin: 0 0.5em;
            float: left;
          }
        }
      }

      /* ユーザーマスタ-登録ダイアログ用 */
      &.p-muser-entry {
        width: 350px;
        height: 320px;
        #popup-main {
          input, select {
            height: 26px;
            font-size: 12px;
            margin: 2px 5px;
            width: 260px;
            padding-left: 4px;
          }
        }
        #popup-main {
          .form01 div {
            margin: 5px 0;
          }
          img {
            float: left;
          }
        }
        #popup-button a {
          width: 75px;
          float: left;
          margin: 0 50px;
        }
      }

      /* 確認ダイアログ */
      &.p-confirm {
        width: 400px;
        height: 150px;
        #popup-main {
          text-align: center;
          input, select {
            height: 26px;
            font-size: 12px;
            margin: 2px 5px;
            width: 270px;
            padding-left: 4px;
          }
        }
        #popup-main {
          .form01 div {
            margin: 5px 0;
          }
          img {
            float: left;
          }
        }
        #popup-button a {
          width: 100px;
          float: left;
          margin: 0 50px;
        }
      }

      /* アラート用 */
      &.p-alert {
        width: 350px;
        height: 150px;
        #popup-button{
          text-align: center;
          a {
            width: 75px;
            margin: 0 auto;
          }
        }
      }

    }

  }

}

/* フラッシュメッセージ用スタイル */
#shortMessage {
  width: 70%;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 5px auto;
  z-index: 50;
  padding: 15px;
  border-radius: 10px;
  color: #FFF;
  font-weight: bold;
  opacity: 1;

  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    border: 12px solid transparent;
  }

  &.success {
    background-color: #86C18D;

    &:after {
      border-top: 12px solid #86C18D;
    }
  }

  &.failure {
    background-color: #C18686;

    &:after {
      border-top: 12px solid #C18686;
    }
  }
}

/* フラッシュメッセージ用スタイル(モーダル用) */
#modalShortMessage {
  width: 70%;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: -60px auto;
  z-index: 50;
  padding: 15px;
  border-radius: 10px;
  color: #FFF;
  font-weight: bold;
  opacity: 1;

  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    border: 12px solid transparent;
  }

  &.success {
    background-color: #86C18D;

    &:after {
      border-top: 12px solid #86C18D;
    }
  }

  &.failure {
    background-color: #C18686;

    &:after {
      border-top: 12px solid #C18686;
    }
  }
}

/* ポップアップ用:バックグラウンド */
#popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

/* 重複ポップアップ用:バックグラウンド */
#popup-bg-overlap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 52;
}

/* ポップアップ用非表示クラス */
.popup-off {
  display: none;
}

/* 重複ポップアップ用非表示クラス */
.popup-off-overlap {
  display: none;
}
.p-tdictionary-entry {
  width: 350px;

  .form01 {
    > div {
      display: flex;
      flex-direction: column;

      &:last-child {
        padding-top: 1em;
      }

      div#inputStr {
        display: flex;
        flex-direction: column;

        .balloon {
          display: none;
          position: fixed;
          background-color: #FFF;
          box-shadow: 0 0 1px rgba(0,0,0,0.85);
          padding: 0.5em 1em;
          border-radius: 10px!important;

          span{
            position: relative;
            cursor: pointer;

            &:before {
              content: "";
              border-top: 4px solid rgba(0, 0, 0, 0.13);
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              position: absolute;
              bottom: -1em;
              left: -0.5em;
            }
            &:after {
              content: "";
              border-top: 10px solid #fff;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              position: absolute;
              bottom: -1em;
              left: -0.5em;
            }
          }

        }
      }

      textarea {
        border-radius: 0 0 5px 5px !important;
        border: 1px solid #909090 !important;
        padding: 5px;
        border-top: none;
      }

      label {
        width: 5em!important;
        display: block;
        font-weight: bold;
      }

      textarea {
        margin: 0px;
        height: 200px;
        resize: none;
      }
    }


  }

  #popup-button {
    width: 15em;
    margin: 0 auto;

    .textBtn {
      font-size: 1.1em;
      width: 5em;
      margin: 0 0.5em;
      float: left;
    }

  }

}

.p-show-notification-gallary {
  width: 375px!important;
  #popup-title {
    font-size: 23px!important;
    padding: 15px 0!important;
  }
  #popup-main {
    padding: 5px!important;
  }
  ul {
    margin: 0;

    li {
      margin: 0 !important;
      box-shadow: 0 0 0 transparent!important;
      background-color: transparent!important;
    }
  }
}

/*キャンペーン */
.p-tcampaign-entry {
  width: 350px;

  .form01 > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    margin: 5px 0;

    textarea {
      margin: 0px;
      height: 120px;
      resize: none;
      border-radius: 15px!important;
      overflow: auto;
    }
  }

  #popup-button {
    width: 15em;
    margin: 0 auto;

    .textBtn {
      width: 5em;
      margin: 0 0.5em;
      float: left;
    }
  }
}

/* オートメッセージ設定レイアウト調整 */
#tautomessages_idx{
  #tautomessages_menu{
    .btnSet{
      position: relative;
      top: 0px;
      left: -3.5px;
    }
    .pointer{
      position: absolute;
      top: 138px;
      left: 31px;
    }
  }
}

#tooltip_tautomessages_add_btn.tooltips {
  position: fixed;
  left: 79px !important;
  width: 6em;
}

#tooltip_tautomessages_copy_btn.tooltips {
  position: fixed;
  left: 106px !important;
  width: 9em;
}

#tooltip_tautomessages_check_btn.tooltips {
  position: fixed;
  left: 161px !important;
  width: 7em;
}

#tooltip_tautomessages_inactive_btn.tooltips {
  position: fixed;
  left: 207px !important;
  width: 7em;
}

#tooltip_tautomessages_dustbox_btn.tooltips {
  position: fixed;
  left: 259px !important;
  width: 6em;
}

/*営業時間 */
.p-operatinghours-entry {
  .form01 {
    > div {
      display: flex;
      flex-direction: column;

      &:last-child {
        padding-top: 1em;
      }

      #day {
        font-weight:bold;
        margin-left: 22px;
      }

      li {
        #dayOfWeek {
          width: 5em!important;
          display: block;
          font-weight: bold;
        }
        #holiday {
          cursor:pointer;
          display: block;
          position: relative;

            #MOperatingHourInfoHoliday{
              margin-left:-10px;
            }

        }
        #position {
          margin-left: 32px;
        }
      }
    }
    .firstForm {
      margin-left: 33px;
    }
    .form {
      margin-left: 81px;
    }
    .form-control{
      width: 8em;
      text-align:center;
    }
    #top {
      margin-top:15px;
    }
    #dayList {
      margin-top:-15px;
      margin-bottom: 7px;
    }
    #error {
      display:none;
      /*margin-top: 15px;*/
      margin-left: 130px;
      color:#F57E7E;
    }
  }
  #popup-button {
    width:30em;
    margin: 0 auto;

    .textBtn {
      font-size: 1.1em;
      width: 8em;
      margin: 0 2.8em;
      float: left;
    }
  }
}

/*資料共有　プレビュー */
.p-tdocument-preview {
  width: 900px;
  .greenBtn{
    display:none;
  }
  #popup-ctrl-btn{
    display:none;
  }
}

/* 資料設定レイアウト調整 */
#tdocument_idx{
  #tdocument_menu{
    .btnSet{
      position: relative;
      top: 0px;
      left: -2.5px;
    }
    .tabpointer{
      position: relative;
      top: -4px;
      left: -13px;
      padding: 10px;
    }
  }
  #tdocument_list{

  }
}

#tooltip_tdocument_add_btn.tooltips {
  position: fixed;
  left: 79px !important;
  width: 6em;
}

#tooltip_tdocument_dustbox_btn.tooltips {
  position: fixed;
  left: 128px !important;
  width: 6em;
}

/* ユーザ管理レイアウト調整 */
#muser_idx{
  #muser_menu{
    .btnSet{
      position: relative;
      top: -6px;
      left: -4px;
    }
  }
  #muser_list{
    .tCenter{
      .t-link{
        padding: 20px 5px 5px;
      }
    }
  }
}

#tooltip_m_users_add_btn.tooltips {
  position: fixed;
  left: 78px !important;
  width: 6em;
}

#tooltip_m_users_dustbox_btn.tooltips {
  position: fixed;
  left: 126px !important;
  width: 6em;
}

/* キャンペーン設定レイアウト調整 */
#tcampaigns_idx{
  #tcampaigns_description{
  }
  #tcampaigns_menu{
    height: 80px;
    .btnSet{
      position: relative;
      top: -6px;
      left: -3px;
    }
    .tabpointer{
      position: relative;
      top: -1px;
      left: -3px;
    }
  }
  #tcampaigns_list{
    .tCenter{
      .t-link{
        padding: 20px 5px 5px;
      }
    }
  }
}

#tooltip_tcampaigns_add_btn.tooltips {
  position: fixed;
  left: 78px !important;
  width: 6em;
}

#tooltip_tcampaigns_copy_btn.tooltips {
  position: fixed;
  left: 108.5px !important;
  width: 9em;
}

#tooltip_tcampaigns_dustbox_btn.tooltips {
  position: fixed;
  left: 176px !important;
  width: 6em;
}

/* チャット通知設定レイアウト調整 */
#chat_notifications_idx{
  #chat_notifications_menu{
    .btnSet{
      position: relative;
      top: -6px;
      left: -2px;
    }
  }
  #chat_notifications_list{
    .t-link{
      padding: 20px 5px 5px;
    }
  }
}

#tooltip_chat_notifications_add_btn.tooltips {
  position: fixed;
  left: 78px !important;
  width: 6em;
}

#tooltip_chat_notifications_dustbox_btn.tooltips {
  position: fixed;
  left: 126px !important;
  width: 6em;
}

/* 定型文機能 */
#tdictionaries_idx{
  .texboxArea{
    position: relative;
    top: 5px;
    left: -20px;
    .pointer {
      position: relative;
      top: 0px;
      left: 0px;
      #tabsort{
        position: relative;
        top: 2px;
        left: -4px;
      }
      #tabsortText {
        position: relative;
        top: 1px;
        left: 0px;
      }
    }
    #stintMessage{
      position: relative;
      top: -1px;
      left: 0px;
    }
    #tabSortMessage{
      position: relative;
      top: 2px;
      left: -11px;
    }
  }
  .listArea{
    .soteTabs{
      .tablist{
        width: 100%;
        .ui-tabs-anchor{
          text-overflow:ellipsis;
          overflow:hidden;
          white-space:nowrap;
        }
      }
    }
    position: relative;
    top: 0px;
    left: 0px;
    margin: 20px;
    padding-bottom: 20px;
    .fLeft{
      .tabName{
        position: relative;
        top: 10px;
        left: 15px;
      }
      .tabBtnSet{
        position: relative;
        top: 2px;
        left: 17px;
      }
      .tabpointer{
        position: relative;
        top: -1px;
        left: 18px;
      }
      position: relative;
      top: -10px;
      left: -5px;
      .pointer{
        position: relative;
        top: 0px;
        left: -1px;
        [id^="sort"]{
          position: relative;
          padding: 10px 10px 10px 4px;
        }
        [id^="sortText"]{
          top: -1px;
        }
        [id^="sortMessage"]{
          position: relative;
          top: 0px;
          left: -12px;
        }
      }
    }
    .fRight{
      position: relative;
      top: -18px;
      left: -15px;
    }
    #tdictionaries_list{
      padding: 15px;
      margin: 0 auto;
      td {
        label{
          position: relative;
          top: 0px;
          left: 0px;
        }
        /*display: block;*/
        /*padding: 0px 10px 10px;*/
      }
    }
  }
}

.btn-shadow.d-set-option-btn{
  width: 65px;
  height: 20px;
  text-align: center;
}

#input_category_btn.disOffgreenBtn{
  border: 1px solid #C3D69B;
  margin: 0px 5px 0px;
  padding: 5px 20px 5px;
  transition: background-color, border-color 0.1s linear;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  overflow:hidden;
  outline:none;
}

#input_category_btn.disOffgrayBtn{
  border: 1px solid #DADADA;
  margin: 0px 5px 0px;
  padding: 5px 20px 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  overflow:hidden;
  outline:none;
}


.disOffgreenBtn {
  cursor: pointer !important;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
  background-color: #C3D69B;
  color: white;
  border: 0px solid #C3D69B;
  padding: 7px;
}

.disOffgreenBtn:hover{
  background-color: #A5B77E;
  border: 0px solid #A5B77E;
  padding: 6.5px;
  transition: background-color, border-color 0.1s linear;
  color: #fff;
}

[id^="tdictionaries_manu_btn"].disOffgreenBtn:hover{
  padding: 5.5px 7px 6.5px 6.5px;
}

.disOffgrayBtn {
  cursor: pointer !important;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
  background-color: #DADADA;
  border: 0px solid #DADADA;
  padding: 7px;
  color: white;
}

.disOffgrayBtn:hover {
  background-color: #DADADA;
  border: 0px solid #DADADA;
  transition: background-color, border-color 0.1s linear;
  color: #fff;
  padding: 7px;
}

.disOffredBtn {
  cursor: pointer !important;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
  background-color: #D69B9B;
  border: 0px solid #D69B9B;
  color: white;
  padding: 7px;
}

.disOffredBtn:hover {
  background-color: #B78080;
  border: 0px solid #B78080;
  transition: background-color, border-color 0.1s linear;
  color: #fff;
  padding: 6.5px;
}

.t-link {
  /*display: block;*/
  /*width: 100%;*/
/*  padding: 10px 5px 2px;*/
}

#popup-overlap #popup-frame-base-overlap #popup-frame-overlap.p-history-del {
  width: 450px;
  height: 150px;
  text-align: center;
}

#popup-overlap #popup-frame-base-overlap #popup-frame-overlap.p-history-del #popup-button-overlap {
  text-align: center;
}

#popup-overlap #popup-frame-base-overlap #popup-frame-overlap.p-history-del #popup-button-overlap a {
  width: 125px;
  float: left;
  margin: 0 50px;
}

#popup #popup-frame-base #popup-frame.p-tdictionary-entry {
  width: 500px;
  height: 450px !important;
}

#popup #popup-frame-base #popup-frame.p-operatinghours-entry {
  width: 415px;
  /*height: 480px !important;*/
}

#popup #popup-frame-base #popup-frame.p-copy {
  width: 450px;
  height: 150px;
}

#popup #popup-frame-base #popup-frame.p-copy #popup-button {
  text-align: center;
}

#popup #popup-frame-base #popup-frame.p-copy #popup-button a {
  width: 10em;
  margin: 0 auto;
  height: 2em;
  font-size: 1.1em;
  padding: 4px 0px;
}

#popup #popup-frame-base #popup-frame.p-move {
  width: 450px;
  height: 150px;
}

#popup #popup-frame-base #popup-frame.p-move #popup-button {
  text-align: center;
}

#popup #popup-frame-base #popup-frame.p-move #popup-button a {
  width: 10em;
  margin: 0 auto;
  height: 2em;
  font-size: 1.1em;
  padding: 4px 0px;
}

#popup #popup-frame-base #popup-frame.p-tabsort-save-confirm {
  width: 450px;
  height: 150px;
  text-align: center;
  div#popup-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
      flex-basis: 140px;
      height: 2em;
      margin: 0 5px;
      padding: 0.25em 0;
      font-size: 1.1em;
    }
  }
}

#popup #popup-frame-base #popup-frame.p-tabsort-save-confirm #popup-button {
  text-align: center;
}

#popup #popup-frame-base #popup-frame.p-tabsort-save-confirm #popup-button a {
  width: 10em;
  margin: 0 auto;
  height: 2em;
  font-size: 1.1em;
  padding: 4px 0px;
}

#popup #popup-frame-base #popup-frame.p-sort-save-confirm {
  width: 450px;
  height: 150px;
  text-align: center;
  div#popup-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
      flex-basis: 140px;
      height: 2em;
      margin: 0 5px;
      padding: 0.25em 0;
      font-size: 1.1em;
    }
  }
}

#popup #popup-frame-base #popup-frame.p-sort-save-confirm #popup-button {
  text-align: center;
}

#popup #popup-frame-base #popup-frame.p-sort-save-confirm #popup-button a {
  width: 10em;
  margin: 0 auto;
  height: 2em;
  font-size: 1em;
  padding: 4px 0px;
}

#popup #popup-frame-base #popup-frame.p-dictionary-del {
  width: 450px;
  height: 150px;
  text-align: center;
}

#popup #popup-frame-base #popup-frame.p-dictionary-del #popup-button {
  text-align: center;
}

#popup #popup-frame-base #popup-frame.p-dictionary-del #popup-button a {
  width: 10em;
  margin: 0 auto;
  height: 2em;
  font-size: 1.1em;
  padding: 4px 0px;
}

#popup #popup-frame-base #popup-frame.p-category-edit {
  width: 450px;
  height: 150px;
}

#popup #popup-frame-base #popup-frame.p-category-edit #popup-button {
  text-align: center;
}

#popup #popup-frame-base #popup-frame.p-category-edit #popup-button a {
  width: 10em;
  margin: 0 auto;
  height: 2em;
  font-size: 1.1em;
  padding: 4px 0px;
}

#popup #popup-frame-base #popup-frame.p-category-del {
  width: 450px;
  height: 150px;
}

#popup #popup-frame-base #popup-frame.p-category-del #popup-button {
  text-align: center;
}

#popup #popup-frame-base #popup-frame.p-category-del #popup-button a {
  width: 10em;
  margin: 0 auto;
  height: 2em;
  font-size: 1.1em;
  padding: 4px 0px;
}

#popup #popup-frame-base #popup-frame.p-category-dictionary-edit {
  width: 550px;
  height: 455px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  margin: 0;
}

#popup #popup-frame-base #popup-frame.p-category-dictionary-edit #popup-button {
  display: none;
}

#popup-bg.category-tab-binding{
  position: static;
}

#popup #popup-frame-base #popup-frame #popup-content #popup-title.category-tab-binding{
  margin: 0;
  padding: 0.5em;
  background-color: #C3D69B;
  color: #FFF;
  display: block;
  cursor: move;
  border-bottom: none;
}

#popup #popup-frame-base #popup-frame #popup-content #popup-main.category-tab-binding{
  padding: 10px;
}

#category_select_button{
  position: absolute;
  zoom: 100%;
  top: -2px;
  left: 510px;
  #category_up_btn{
    width: 15px;
    height: 15px;
    font-size: 8px;
    text-align: center;
    .triangle{
      position: absolute;
      top: 0px;
      left: 2px;
    }
  }
  #category_down_btn{
    width: 15px;
    height: 15px;
    font-size: 8px;
    text-align: center;
    .triangle{
      position: absolute;
      top: 15px;
      left: 2px;
    }
  }
}

#TDictionaryType{
  padding: 0 0 3px 0.5em;
  margin-top: 0.5em;
}

#wordSearchCond{
  background-color: rgb(242, 242, 242);
}

#serect_tab_mode{
  position: relative;
  top: 10px;
  left: 0px;
}

#word_search_mode{
  position: relative;
  top: 10px;
  left: 0px;
}

#categoryTabs.ui-widget.ui-widget-content{
  border:none;
}

#categoryTabs.ui-widget-content{
  border:none;
}

.ui-tabs .ui-tabs-nav.categoryTabStyle{
  padding: 0;
  height: 30px;
  width: 101%;
  overflow: hidden;
}

.ui-widget-header.categoryTabStyle{
  border:none;
  background:none;
}

.wordBorder{
  border: 1px solid #909090;
}

.chatCategory{
  border: 0.5em solid #C3D69B;
  background-color: #FFF;
  padding: 0.25em;
  height: 290px;
}

[class^="dictionaryWord ng-binding ng-scope dictionarySelected"]{
  background-color: rgba(195, 214, 155, 0.5);
}

[class^="dictionaryWord ng-binding ng-scope dictionarySearchSelected"]{
  background-color: rgba(195, 214, 155, 0.5);
}

[id^="item"].dictionaryTab{
  border: 1px solid #c5c5c5;
}

[id^="wordList"]{
  width: 530px;
  height: 250px !important;
  overflow-y: scroll;
  position: relative;
  top: 0px;
  left: 10px;
}

.onTabs.ui-tabs-panel.ui-corner-bottom.ui-widget-content[id^="categoryTabs-"]{
  padding: 0px 18px;
}

#allWordList.fRight{
  float: none;
  width: 565px;
  height: 300px !important;
  position: relative;
  top: -10px;
  left: -40px;
}

#allScroll{
  height: 300px;
  overflow-y: scroll;
}

#menuheader {
  position: relative;
}

.dictionaryWord{
  padding: 3px;
  border-bottom: 1px solid #909090;
  word-break: break-all;
  word-wrap: break-word;
}

[id^="openMenu"] {
  position: absolute;
  top: 16px;
  right: 0;
}

[id^="layerMenu"] {
  display: none;
  position: absolute;
  top: 69px;
  right: 0;
  width: 160px;
  font-size: 12px;
  z-index: 9999;
  a:hover {
    background-color: #C3D69B;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px
  }
  a{
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px
  }
}

#input_category_value{
  padding: 7px 10px !important;
}

[id^="layerMenu"] ul {
  border: solid 1px #ccc;
  display: block;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 5px 0px !important;
  background: #fff;
  #tdictionaries_idx #tdictionaries_menu ul li.t-link{
    padding: 0px 0px 0px;
    width: 100%;
    height: 100%;
  }
}

[id^="layerMenu"] ul li {
  background: #fff;
  list-style: none;
/*  border-bottom: solid 1px #ccc;*/
  position: relative;
  padding: 0px !important;
  color: #555;
  display: block;
}

/*[id^="layerMenu"] ul li:hover {
  color: #EA0001;
}*/

[id^="tooltip_tdictionaries_add_btn"].tooltips{
  position: fixed;
  left: 109px !important;
  width: 6em
}

[id^="tooltip_tdictionaries_copy_btn"].tooltips{
  position: fixed;
  left: 139px !important;
  width: 9em;
}

[id^="tooltip_tdictionaries_move_btn"].tooltips{
  position: fixed;
  left: 205px !important;
  width: 6em;
}

[id^="tooltip_tdictionaries_dustbox_btn"].tooltips{
  position: fixed;
  left: 254px !important;
  width: 6em;
}

[id^="tooltip_tdictionaries_manu_btn"].tooltips{
  right: 57px;
  width: 7em;
  position: fixed;
}

[id^="tooltip_gray_tdictionaries_manu_btn"].tooltips{
  position: fixed;
}

.ui-tabs.soteTabs {
  padding: 0em;
}

.ui-widget.ui-widget-content.soteTabs {
  border: 0px;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
  margin: 0;
}

.ui-widget-header.tablist{
  border:none;
}

.ui-tabs.ui-tabs-nav{
  padding: .0em .0em 0;
}

.ui-tabs.ui-tabs-nav.tablist{
  padding: .0em .0em 0;
}

[id^="tabBoxborder"]{
  border: 1px solid #a6a6a6;
  background-color: #FFF;
  padding: 0px;
}

.tabBoxInborder{
  border: 1px solid #a6a6a6;
  background-color: #FFF;
  padding: 0.25em;
}

.tabBox.ui-tabs-panel.ui-corner-bottom.ui-widget-content{
  border: 2px solid #C3D69B;
  border-width: 15px 10px 10px;
  background-color: #FFF;
  padding: 0px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active.taboutborder{
  border: 1px solid #a6a6a6;
  border-bottom: none;
}

/*重複ポップアップ*/
#popup-overlap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  #popup-frame-base-overlap {
    position:relative;
    width: 100%;
    height: 100%;

    #popup-frame-overlap {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      margin: auto;
      z-index: 53;

      /*ポップアップ用:装飾系*/
      #popup-content-overlap {
        position: relative;

        #popup-title-overlap {
          padding: 12px 0 5px;
          text-align: center;
          border-bottom: 1px solid #909090;
          font-size: 18px;
          color: #555;
        }

        #popup-main-overlap {
          padding: 20px;
        }

        #popup-button-overlap {
          height: 50px;
        }

      }

      #popup-ctrl-btn-overlap {
        position: absolute;
        top: -10px;
        right: -10px;
        a {
          width: 30px;
          height: 30px;
          padding: 5px;
          float: left;
          margin-right: 5px;
          border-radius: 15px;
        }
      }
      /* アラート用 */
      &.p-alert {
        width: 350px;
        height: 150px;
        #popup-button{
          text-align: center;
          a {
            width: 75px;
            margin: 0 auto;
          }
        }
      }

    }

  }

}