@charset "UTF-8";

$main-color: #C3D69B;
$string-color: #595959;
$line-color: #B5B5B5;
$error-color: #F57E7E;
$line-color: #909090;
$shadow-color: rgba(0, 0, 0, 0.3);
$header-btn-hover-color: #D6E8B0;
$content-min-width: 800px;
$sidebar-z-index: 4;
$sub-sidebar-z-index: 3;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $string-color;
}

::selection {
  background-color: #ADAFAE;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
}

pre, input, textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

h1 {
  margin: 6px !important;
  font-size: 15px;
}

s {
  text-decoration: none;
  font-size: 0.8em;
  color: #8f8f8f;
}

li {
  list-style-type: none;
}

.bold {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: none;

  tbody.sortable {
    position: relative;
  }

  tr:hover, tr.on {
    background-color: rgba(195, 214, 155, 0.1);
  }

  th, td {
    font-weight: 100;
    font-size: 12px;
    border: 1px solid #8B8B8B;
    border-left: none !important;
    border-top: none !important;
    word-break: break-all;

    &:last-child {
      border-right: none !important;
    }

    &:first {
      border: 5px dotted;
    }

  }


  th {
    background-color: $main-color;
    color: $string-color;
    font-weight: bold;
  }

  td {
    border: 1px solid #BFBFBF;
    border-right-color: rgba(0, 0, 0, 0);

    pre {
      padding: 0 5px;
    }

  }

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.require {
  &:after {
    content: "*";
    color: red;
  }
}

// IE独自実装のクリアボタンを非表示に
input::-ms-clear { visibility:hidden }
// IE独自実装のパスワード表示ボタンを非表示に
input::-ms-reveal { visibility:hidden }

input[type='text'], input[type='number'], input[type='password']{
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid $line-color;
  &:focus {
      outline: none!important;
      border-bottom: 1px solid $main-color;
  }
  &.form-error:focus {
      border-bottom-color: $error-color;
  }


  &[type='number'] {
    width: auto;
    text-align: right;
  }
}

textarea {
  border-radius: 5px!important;
  border: 1px solid $line-color!important;
  padding: 5px;
  &:focus {
      outline: none!important;
      border-color: $main-color!important;
  }
  &.form-error:focus {
      border-color: $error-color!important;
  }
}

select {
  padding: 0 0.5em;
  border: none;
  border-bottom: 1px solid #909090;

  &:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid $main-color;
    outline-color: $main-color;
  }

}


/**
 *  デバッグ画面
 */

#debug-area {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  background-color: #5A5A5A;
  border: solid 1px;
  display: none;
  z-index: 99;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px $shadow-color;
  margin: 15px 50px 15px 100px;
  caption, td {
    color: #FFF !important;
  }
}

#debug-area-toggle {
  position: fixed;
  right: 300px;
  top: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: #343;
  z-index: 99;
  color: #fff;
  cursor: pointer;
}

div[id$='_list'] {
  table {
    width: 100%;
  }
  th, td {
    height: 60px;
  }
  th {
    padding: 5px;
  }
}

iframe {
  border: none !important;
}

img {
  border-style: none;
  -ms-interpolation-mode: bicubic;
}

@mixin btnHoverEv {
  img {
    transform: scale(0.8);
  }
  &:hover {
    img {
        transform: scale(1);
        transition: transform 0.3s ease;
    }
  }
}

a {
  @include btnHoverEv;

  &[class*='Btn'] {
    color: #FFFFFF;
    text-decoration: none;
  }

  &:hover {
    color: $main-color;
  }
}



/**
 * 共有
 */
.pre {
  white-space: pre-line;
}

.tLeft {
  text-align: left;
}

.tRight {
  text-align: right;
}

.tCenter {
  text-align: center;
}

.fRight {
  float: right;
}

.fLeft {
  float: left;
}

.clear {
  clear: both;
}

.tr180 {
  transform: matrix(-1,0,0,1,0,0);
}

.w05 {
  width: 5%;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w35 {
  width: 35%;
}

.w50 {
  width: 50%;
}

.p0 {
  padding: 0;
}

.p15l {
  padding-left: 15px;
}

.p20l {
  padding-left: 20px;
}

.p10x {
  padding: 10px;
}

.p20x {
  padding: 20px;
}

.p20r {
  padding-right: 20px;
}

.pl30 {
  padding-left: 30px!important;
}

.p05tb {
  padding: 5px 0;
}

.p20trl {
  padding: 20px 20px 0 20px;
}

.p20tl {
  padding: 20px 0 0 20px;
}

.m0 {
  margin: 0;
}

.m10r10l {
  margin: 0 10px;
}
.m40t {
  margin-top: 40px!important;
}
.m40l {
  margin-left: 40px;
}

.m10b {
  margin-bottom: 10px;
}

.bb0 {
  border-bottom: none!important;
}
.bt0 {
  border-top: none!important;
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

.card-shadow {
  box-shadow: 0 0 5px $shadow-color;
}

.btn-shadow {
  box-shadow: 0 0 2px $shadow-color;
}

.underL {
  text-decoration: underline!important;
  cursor: pointer!important;
}

.vHidden {
  visibility: hidden;
}

.error-message {
  padding: 0;
  margin: 0 0 0 35px;
  color: #F57E7E;
}

.greenBtn {

  cursor: pointer!important;
  background-color: #C3D69B;
  border: 1px solid #C3D69B;
  display: block;
  color: white;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
}

.whiteBtn {
  cursor: pointer!important;
  background-color: #FFF!important  ;
  border: 1px solid #FFF!important;
  color: $main-color!important;
  display: block;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
}

.grayBtn {
  background-color: #DADADA;
  border: 1px solid #DADADA;
  display: block;
  color: white;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
  cursor: default;

  > img { transform: scale(1) }
}

.redBtn {
  cursor: pointer!important;
  background-color: #D69B9B;
  border: 1px solid #D69B9B;
  display: block;
  color: white;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
}

.skyBlueBtn {
  cursor: pointer!important;
  background-color: #9DCCD0;
  border: 1px solid #9DCCD0;
  display: block;
  color: white;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
}

.blueBtn {
  cursor: pointer!important;
  background-color: #788DCA;
  border: 1px solid #788DCA;
  display: block;
  color: white;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
}

.btn-shadow {
  &.greenBtn:hover, &.greenBtn.on {
    background-color: #A5B77E;
    border: 1px solid #A5B77E;
    transition: background-color, border-color 0.1s linear;
    color: #fff;
  }
  &.whiteBtn:hover, &.whiteBtn.on {
    background-color: #D5DCC7 !important;
    border: 1px solid #D5DCC7 !important;
    color: #FFF!important;
    transition: background-color, border-color 0.1s linear;
  }
  &.redBtn:hover, &.redBtn.on {
    background-color: #B78080;
    border: 1px solid #B78080;
    transition: background-color, border-color 0.1s linear;
    color: #fff;
  }
  &.blueBtn:hover, &.blueBtn.on {
    background-color: #6A80BE;
    border: 1px solid #6A80BE;
    transition: background-color, border-color 0.1s linear;
    color: #fff;
  }
}

.textBtn {
  padding: 2px 5px;
  font-size: 15px;
  text-align: center;
}

/* フッター固定ボタンエリア */
.fotterBtnArea {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 10px 0;
  background-color: rgba(77, 77, 77, 0.24);
  z-index: $sub-sidebar-z-index - 1;

  > a[class*='Btn'] {
    width: 10em;
    padding: 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

/* フォーム部品 */
.form01 {
  position: relative;

  li {
    margin: 15px 0;
    display: flex;

    // フォームエラー
    &.error-message {
      padding-left: 210px;
    }

  }

  div.labelArea {
    width: 15em;
    text-align: right;
    height: 30px;
    padding: 10px 0 0 0;
    margin-right: 20px;

    span {
      vertical-align: middle;
    }
  }

}

/* タブ */
ul.ulTab {
  height: 2.5em;
  padding: 0;
  user-select: none;

  &[data-col="2"] li {
    width: 50%;
  }

  li {
    height: 2.5em;
    padding: 0.5em;
    float: left;
    text-align: center;
    border: 1px solid #c3d69b;
    border-right-width: 0;
    color: #c3d69b;
    cursor: pointer;
    font-size: 11px;

    &.choose {
      position: relative;
      background-color: #c3d69b;
      color: #FFF;

      &:after {
        content: " ";
        position: absolute;
        border: 10px solid transparent;
        border-top: 10px solid #c3d69b;
        width: 0;
        height: 0;
        bottom: -1.5em;
        left: 50%;
        margin-left: -10px;

      }
    }

    &:last-child {
      border-right-width: 1px;
      border-radius: 0 5px 5px 0;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }
  }
}

/* ヘッダー */

#sys-icon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  z-index: $sidebar-z-index + 1;
  width: 60px;
  height: 60px;
}

/* ヘッダー：カラーバー */

#color-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $main-color;
  height: 60px;
  z-index: $sidebar-z-index;
  overflow: hidden;
}

/* ヘッダー：サイドバー */

div[id^="sidebar-"] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  .icon {
    height: 60px !important;
    padding: 7.5px 0 !important;
    position: relative;
    cursor: pointer;
  }
}

#sidebar-main {
  background-color: #595959;
  z-index: $sidebar-z-index;
  padding-top: 85px;
  width: 60px;
  .icon {
    width: 60px !important;
    &.selected, &:hover {
      background-color: #929292;
      box-shadow: 0 0 3px $shadow-color;
    }
  }
}

div[id^="sidebar-"] .icon {
  a {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  img {
    margin: 7px auto 0 auto;
    display: block;
    transform: scale(0.8);
  }
  &:hover img {
    transform: scale(1);
    transition: transform 0.3s ease;
  }
  p {
    height: 15px !important;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
    font-weight: bold;
    padding-top: 4px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

#sidebar-sub {
  background-color: #929292;
  z-index: $sub-sidebar-z-index;
  padding-top: 115px;
  transition: left 0.1s linear;
  width: 80px;
  left: -20px;
  &.open {
    left: 60px;
    transition: left 0.15s linear;
  }
  .icon {
    width: 80px !important;
    &:hover {
      background-color: #B9B9B9;
      box-shadow: 0 0 3px $shadow-color;
    }
  }
}

/* ヘッダー：上部カラーバー */
ul#color-bar-right {
  margin: 0;
  li {
    height: 60px !important;
    padding: 0 10px;

    p {
      margin: 20px 0;
      height: 20px!important;
      color: #fff;
      font-size: 13px;
      padding: 3.5px 0 3.5px 0;
    }
  }
}

#logout{
  cursor: pointer;

  &:hover {
    background-color: $header-btn-hover-color;
    box-shadow: 0 0 3px $shadow-color;
  }

  span {
    font-weight: bold;
  }
}

/* コンテンツ */
#content { overflow: auto }

/* ログイン */
#login_idx_bg {
  background: radial-gradient(at 50% 50%, #A0BDD2 0%, #7B8F9E 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0BDD2', endColorstr='#7B8F9E', GradientType=0)";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

#login_idx {
  position: absolute;
  margin: auto;
  min-width: 300px!important;
  width: 300px!important;
  height: 350px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

#content-area {
  margin: auto;
  height: 320px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to top, #F8FCFD, #EEF2F3);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8FCFD', endColorstr='#EEF2F3', GradientType=0)";
  box-shadow: 0 0 5px $shadow-color;
  padding: 15px;
  .form_area {
    margin: 10px auto;
    padding: 20px 0;
    text-align: center;
    input {
      width: 100%;
      border: none;
      background-color: #FFF;
      height: 40px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0 0 2px 2px rgb(232, 232, 232) inset;
    }
  }
  #MUserFormButton {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 18px;
    width: 100%;
    display: block;
    padding: 5px 5px;
    background-color: #CACACA;
    box-shadow: 0 0 1px $shadow-color;
    &:hover {
      background-color: #9A9292;
    }
  }
}

#paging span{
  float: left;
  margin-right: 5px;
  width: 33px;
  height: 33px;
  padding: 3px 0px 0px 2px;
}

[id$=_idx] {
  width: 90%;
  min-width: $content-min-width!important;
  margin: 50px 50px 0 50px;
}

[id$=_menu] {
  height: 50px;
}

[id$="_title"] {
  border-bottom: 1px solid #8B8B8B;
  padding: 10px 20px;
  height: 50px;
  p {
    margin: 0;
  }
  > div {
    margin-right: 10px;
  }
  &[id$=_menu] {
    height: 50px;
    #paging {
      min-width: 70px;
      span {
        border-radius: 2px;
        border: 0px;
        width: 30px;
        height: 30px;
        display: inline-block;
        img {
          height: 30px;
          width: 30px;
          display: block;
          padding: 2.5px;
        }
      }
    }
  }
}

[id$="_subtitle"] {
  padding: 10px 20px;
  height: 50px;
  h1 {
    font-size: 20px;
    margin: 0 !important;
    padding: 3px 0;
  }
}

ul.naviBtn {
  height: 15px;
  display: block;
  margin: 10px 2px!important;

  li {
    float: left;
    padding: 2px 5px;
    border-bottom: 1px solid #D9D9D9;
    cursor: pointer;

    &:hover, &.on {
      color: $main-color;
      padding-bottom: 1px;
      border-bottom: 2px solid #8F8F8F;
    }
  }
}

/* リアルタイムモニタ */

#customer_idx {

  #customer_menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: auto;

    > div {
      padding: 10px 20px 0 20px;

      p {
        height: auto;
        float: right;
        margin: 0 20px 0 0;
        font-size: 14px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      $wait-color: #9bbb59;
      $stop-color: #d99694;

      &#color-bar-left {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      li {
        padding: 0.5em;
        float: left;
        text-align: center;

        &#opStatus {
          font-size: 13px;
          width: 10em;
          text-align: right;
        }

        &#operatorStatus {
            font-size: 15px;
            span {
              width: 4em;
              display: block;
              margin-left: 1.8em;
              text-align: left;
              padding: 0.3em 0;
              font-weight: bold;
              font-size: 21px;
            }

            &.opWait span{
              color: $wait-color;
            }
            &.opStop span{
              color: $stop-color;
            }

            &.opWait:before {
              background-image: url('/img/avail_green.png');
            }
            &.opStop:before {
              background-image: url('/img/aux_red.png');
            }
            &:before {
              content: " ";
              display: block;
              width: 1.8em;
              height: 1.8em;
              float: left;
              background-size: 1.8em;
              background-repeat: no-repeat;
              background-position: 1px 0px;
              margin: 2px 0px 0 1px;
              font-size: 22px;
            }
        }

        &#changeOpStatus {
          padding: 0.3em 1.3em;
          font-size: 14px;
          font-weight: normal;
          border-radius: 5px;

            &.blueBtn {
                background-color: $wait-color!important;
                border-color: $wait-color!important;
            }
            &.redBtn {
                background-color: $stop-color!important;
                border-color: $stop-color!important;
            }
        }
      }
    }

  }

  #customer_main {
    width: 100%;
    float: left;
    transition: width 500ms linear 0s;
  }

  #customer_sub  {
    float: right;
    width: 0%;
    opacity: 0;
    display: none;
    transition: width 500ms linear 0ms, opacity 400ms linear 100ms;

    div.card-shadow * {
      opacity: 0;
      transition: opacity 100ms linear 40ms;
    }

    a.customer_detail_btn {
      border-radius: 15px;
      height: 25px;
      width: 25px;
      margin: 5px 2px;
      text-align: center;
    }
  }

  #customer_tab {
    position: fixed;
    bottom: 0;
    left: 60px;
    z-index: $sub-sidebar-z-index;

    ul {
      padding: 0;

      li {
        padding: 10px 20px;
        float: left;
        font-size: 14px;
        cursor: pointer;
        white-space: nowrap;
        background-color: #D4D4D4;
        margin-right: 3px;
        opacity: 0.8;

        &.selected {
          background-color: $main-color;
        }

        &:hover {
          opacity: 1;
        }

      }
    }
  }

  &.showDetail {
    #customer_main {
      width: 73%;
      float: left;
      transition: width 300ms linear 0ms;
    }


    #customer_sub  {
      float: right;
      width: 25%;
      opacity: 1;
      transition: width 300ms linear 0ms, opacity 300ms linear 200ms;

      div.card-shadow * {
        opacity: 1;
        transition: opacity 100ms linear 50ms;
      }

      #customer_subtitle {
          position: relative;

          &:before {
              content: "";
              background-image: url('/img/sub_icon.png');
              background-size: 20px;
              width: 20px;
              height: 50px;
              background-position: 0;
              display: block;
              transform: rotate(45deg);
              position: absolute;
              top: 0;
              bottom: 0;
              left: 10px;
              background-repeat: no-repeat;
          }

          h1 { padding-left: 20px }
      }
    }
  }
  .monitorOn, .monitorOn * {
    color: #788DCA;
  }
  .monitorBtn {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    width: 5em;
    text-align: center;
  }
}

#customer_idx {
  #customer_main {

    #customer_menu {
      a {
        border-radius: 15px;
        padding: 4px;
        display: inline-block;
        height: 30px;
      }
      i {
        border-radius: 15px;
        padding: 4px;
        display: inline-block;
        height: 30px;
        position: absolute;
        left: 2px;
        bottom: 0;
      }
      input {
        padding-left: 25px;
        height: 26px;
        font-size: 12px;
        margin: 2px 5px;
      }
    }

    #customer_list {
      padding: 10px 20px 20px 20px;
      position: relative;

      #list_header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 10px 20px 20px 20px;
        z-index: $sub-sidebar-z-index - 1;
        th {
          transition: width 200ms cubic-bezier(0, 1, 0, 1);
        }
      }
      #list_body {
        overflow-y: auto;
        overflow-x: hidden;
      }

      td, td * {
        cursor: default;
        user-select: none;
      }

      #chatTypeBtn {
        .blueBtn, .redBtn {
            text-decoration: none!important;
            font-weight: bold;
            padding: 5px;
            border-radius: 5px;
            margin: 0 auto;
            display: block;
            width: 7em;
            text-align: center;
            cursor: pointer;
            position: relative;

            .unread {
              position: absolute;
              top: -15px;
              right: -5px;
              background-image: url('/img/chat-bg.png');
              background-size: contain;
              background-repeat: no-repeat;
              width: 25px;
              height: 20px;
              padding: 2px 1px;
              font-size: 11px;
              color: #FFF;

            }
        }

      }
    }

    .monitorBtn {
      text-decoration: none;
      font-weight: bold;
      padding: 5px;
      border-radius: 5px;
      margin: 0 auto;
      display: block;
      width: 5em;
      text-align: center;

    }

  }

  #customer_sub  {

    h2 {
      font-size: 15px;
      border-bottom: 1px solid #8B8B8B;
      padding-left: 10px;
    }

    #customer_detail {
      position: relative;
      transition: height 300ms linear 0s;

      &.open {
         height: auto;
         ul { opacity: 1 }
      }
      &.close {
         height: 90px!important;
         overflow: hidden;
         ul { opacity: 0 }
      }

      ul {
        transition: opacity 300ms linear 300ms;

        li {
          word-break: break-all;
          word-wrap: break-word;
          span { font-weight: bold }
        }
      }

      p {
        display: block;
        height: 2em;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #FFF;
        margin: 0;
        padding: 0.5em 0;
      }
    }

    #chatContent {
      margin: 0 5px;

      #chatMenu {
        visibility: hidden;

        &.showOption {
          visibility: inherit;
        }

        span {
          cursor: pointer;
          width: 10em;
          font-weight: normal;
          font-size: 1em;
          padding: 0.25em 0.8em;
        }
      }

      textarea#sendMessage {
        border-radius: 5px!important;
        border: 1px solid $line-color!important;
        padding: 5px;
        margin-top: 0;

        &:focus {
            outline: none!important;
            border-color: $main-color!important;
        }
        &.form-error:focus {
            border-color: $error-color!important;
        }
      }

      div#wordListArea {
          display: none;
          position: absolute;
          top: -175px;
          left: 8px;
          width: 200px;
          background-color: #FFF;
          margin-top: 5px;
          padding: 0.5em;
          box-sizing: border-box;
          border-radius: 5px 5px 0 0;
          box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.8);

        select#entryWordList {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
        }

        input {
          border-width: 0;
          border-bottom: 1px solid #949494;
          padding: 5px 10px;
          width: 170px;
          background-color: #ececec;
          font-size: 12px;
        }

        ul {
          padding: 0;
          list-style-type: none;
          background-color: #FFF;
          height: 120px;
          overflow-y: auto;
          overflow-x: hidden;
          margin: 5px 0;

          li {
            padding: 3px;
            border: 1px solid #909090;
            border-top-width: 0;
            white-space: pre-wrap;
            word-break: break-all;
            word-wrap: break-word;

            &.selected {
              background-color: #e8ffee;
            }

            &:first-child {
                border-top: 1px solid #909090;
            }
          }
        }
      }


      #chatTalk {
        height: 300px;
        padding: 5px;
        border: 1px solid #8F8F8F;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #FDFDFD;
        margin: 0;

        * {
          color: #8A8A8A;
        }

        li {
          margin: 10px 0;
          padding: 5px;
          font-size: 12px;
          border: 1px solid #C9C9C9;
          color: #8A8A8A;
          white-space: pre-wrap!important;
          word-break: break-all!important;

          :last-child {
              margin-bottom: 20px;
          }

          &.sinclo_re {
              margin-right: 10px;
              border-radius: 5px 5px 5px 0;
              background-color: #F1F5C8;
          }

          &.sinclo_se, &.sinclo_auto {
              border-radius: 5px 5px 0;
              margin-left: 10px;
              background-color: #FFF;

              span.cName {
                display: block;
                color: $main-color;
                font-weight: bold;
                font-size: 13px;
                margin: 0 0 5px 0;
              }
          }
          &.sinclo_se span.cName{
            color: #c3d69b!important;
          }

          &.sinclo_auto span.cName{
            color: #C9C9C9!important;
          }

          &.sinclo_etc {
              border: none;
              text-align: center;
              margin: 0 auto;
              font-weight: bold;
          }

          &.typeing_message {
            background-color: #e8e8e8!important;
          }

        }
      }

      textarea {
        margin: 5px 1%;
        width: 98%;
        padding: 5px;
        resize: none;
        outline: none;
        background-color: #FFF;
        display: block;
      }

      #sinclo_sendbtn {
        background-color: #FF7B7B;
        border-radius: 15px;
        padding: 5px;
        font-size: 15px;
        color: #FFF;
        height: 30px;
        user-select: none;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        display: block;
        text-align: center;
        margin: 5px 3px;

        &:hover, &.on {
          background-color: #D55555;
          cursor: pointer;
        }
      }

    }
  }
}

/* 履歴一覧 */

#history_idx {
  #history_title {
    position: relative;
    #outputCSV {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
  #history_menu {
    height: 50px;

    label[for='g_chat'] {
      display: block;
      position: relative;
      padding: 1px 0 1px 20px;
      margin-top: 13px;

      #g_chat {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
      }

      &:before {
        content: " ";
        border: 2px solid $main-color;
        background-color: #FFF;
        width: 13px;
        height: 13px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
      }

      &:after {
        content: " ";
        border: 1px solid #FFF;
        position: absolute;
        top: 3px;
        left: 2px;
        bottom: 0;
        display: block;
        width: 9px;
        height: 4px;
        border-width: 0 0 3px 3px;
        transform: rotate(-45deg);
        padding: 0px;
        opacity: 0;
      }


      &.checked {
        &:before {
          border: 2px solid $main-color;
          background-color: $main-color;
        }

        &:after {
          opacity: 1;
        }
      }

    }
  }
  .monitorBtn {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    width: 5em;
    text-align: center;
  }
  #history_list {
    td, th {
      height: 30px!important;
      line-height: 1.5;
      padding: 0 3px;
    }
  }
}

/* コード設置・デモ */

#script_setting_idx {
  width: 90%;
  margin: 50px 50px;
}

#script_setting_content {
  $ssc-border-color: #9A9A9A;
  $ssc-content-width: 700px;

  h2 {
    border-bottom: 3px solid $main-color;
    padding-left: 5px;
    font-size: 15px;
  }

  pre {
    margin: 6px 0 0 0;
    line-height: 2;
  }

  section {
    padding-left: 1em;
  }

  dl {
    padding: 0!important;
    dt {
        font-weight: bold;
        margin: 0.5em 0;
        font-size: 13px;
    }
    dd {
      margin: 0.5em 0 2.25em 40px;
      p {
        background-color: #E3E8E5;
        border: 1px solid $ssc-border-color;
        border-radius: 5px;
        overflow: hidden;
        width: $ssc-content-width;
        margin-top: 0;

        span {
          height: 45px;
          float: left;

          &.copyBtn {
            display: inline-block;
            padding: 10px 5px;
            background-color: #FFF;
            border-right: 1px solid $ssc-border-color;
            width: 36px!important;
          }

          &.copyArea {
            height: 45px;
            padding: 10px 0;
            width: $ssc-content-width - 40px!important;

            input {
              background-color: #E3E8E5;
              height: 25px;
              font-size: 12px;
              border-bottom: none;
              width: 100%;
            }
          }

        }
      }
    }
  }
}

/* ユーザマスタ */

#muser_menu img[class$='Btn'] {
  border-radius: 15px;
}

#muser_list table td:last-child {
  width: 100px;
  a {
    width: 35px;
    height: 35px;
    margin: 5px;
    padding: 2px;
  }
}

/* 個人設定 */

#personal_idx {
  #personal_form {
    .form01 {
      width: 600px;
      margin: 0 auto;
    }
    input {
      height: 26px;
      font-size: 12px;
      margin: 2px 5px;
      width: 270px;
      padding-left: 4px;

      &[type='checkbox'] {
        width: auto;
      }

      &[type='radio'] {
        width: auto;
        height: auto;
      }
    }

    #set_password_area {
      border: 1px solid $line-color;
      border-radius: 10px;
      margin-left: 0px;
    }

    #personal_action {
      padding: 10px;
      vertical-align: right;

      a {
        width: 100px;
        padding: 10px;
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

/* ウィジェット */

#m_widget_setting_idx {
  #m_widget_setting_form {
    position: relative;
    padding-bottom: 50px;

    #m_widget_setting_entry {
      max-width: 60%;

      h3 {
        border-bottom: 3px solid $main-color;
        padding-left: 5px;
      }
      .form01 {

        .settingList > li:not(.error-message) {
          padding: 15px 0;
          border-top: 1px solid #B7B7B7;
          margin: 0;

          pre { margin: 0 }

          &:first-child {
            border-top: none;
          }
        }
      }

      #imageSelectBtns {
        display: none;

        &.chooseImg {
            display: flex;
            flex-direction: row;
        }

        div#picDiv {
            margin-right: 10px;
            border: 1px solid #444;
            width: 64px;
            height: 72px;
        }

        div#picChooseDiv {
            > div {
                cursor: pointer!important;
                height: 30px;
                background-color: $main-color;
                color: #FFF;
                font-weight: bold;
                vertical-align: middle;
                padding: 8px 10px;
                display: block;
                border-radius: 5px;
                text-decoration: none;
                margin: 3.5px 0;

                &#fileTagWrap {
                    position: relative;
                    overflow: hidden;

                    input[type='file'] {
                        cursor: pointer!important;
                        opacity: 0;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        height: 30px;
                        display: block;
                        font-size: 300px;
                    }

                }
            }

        }


      }

      input{

        &[type='text']{
          height: 26px;
          font-size: 12px;
          margin: 2px 5px;
          width: 270px;
          padding-left: 4px;
        }

        &[type='checkbox'] {
          width: auto;
        }

        &[type='radio'] {
          width: auto;
          height: auto;
          border: none;
        }

        &[type='range'] {
          height: auto;
          border-bottom: none;
        }

      }

      textarea {
        font-size: 12px;
      }

      li span {
        width: 15em;
        padding-top: 5px;
        display: block;
      }

      div#imageSelectBtns {
        padding: 1em;
      }

    }

    #m_widget_setting_action {
      padding: 10px;
      vertical-align: right;
      clear: both;

      a {
        width: 100px;
        padding: 10px;
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }

    #m_widget_simulator {
      position: absolute;
      top: 20px;
      left: 60%;
      margin: 10px 0 0 30px;
      margin-left: 30px;


      section#switch_widget {
        margin-bottom: 0.5em;
      }
    }


  }
}

/* テストページ用 */
#testpage_bg {

  #testpage_idx {
    min-height: 120%;
    background-color: #FFF;
    width: 700px!important;
    min-width: 500px!important;
    margin: 10px auto 0 auto;
    border: 3px solid #595959;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
    border-radius: 5px;

    #title {
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid #595959;
      font-size: 15px;
    }

    #detail {
      padding-left: 15px;
      font-weight: bold;
      font-size: 14px;

      ul, span {
        background-color: #eee;
        width: 90%;
        margin: 0 auto;
        padding: 20px;

        li {
          list-style-type: circle;
          font-size: 12px;
        }
      }

      span {
        display: block;
        margin-bottom: 20px;
      }
    }

    .form01 {
      ul {
        padding-left: 20px;

        li {
          padding: 20px 10px;

          &.lb {
            padding: 20px 10px 5px 10px;
          }

          input[type="text"], input[type="number"] {
            height: 30px;
            width: 300px;
          }
        }

      }
    }

  }
}

/* オートメッセージ機能 */
#tautomessages_idx {
  $list-color: #ECF4DA;

  #tautomessages_menu {
    img[class$='Btn'] {
        border-radius: 15px;
    }

    div.ctrlBtnArea {
        width: 100px;
        a {
          float: left;
          img.actCtrlBtn{ display: none }
        }
    }

  }

  #tautomessages_list {

    td:not(.noClick) {
      cursor: pointer;
    }

    .bgGrey {
      background-color: #DEDEDE;
    }

    .lineCtrl {
      text-align: center;

      div {
        display: inline-block;
        a {
          float: left;
          margin-bottom: 5px;
          margin-top: 5px;
        }
      }
    }

    :not(.lineCtrl) a { text-decoration: underline; }

    input[type='checkbox'] {
        display: none;

        &:checked + label {
            background-color: $main-color;
            border: 1px solid $main-color;
            position: relative;
            cursor: pointer;

            &:after {
                content: "";
                font-weight: bold;
                border-right: 4px solid #FFF;
                border-bottom: 4px solid #FFF;
                width: 6px;
                height: 10px;
                position: absolute;
                top: 0;
                right: 4px;
                transform: rotate(45deg);
            }
        }

        & + label {
            width: 20px;
            height: 20px;
            display: block;
            margin: 0 auto;
            background-color: #FFF;
            padding: 1px;
            border: 1px solid #828282;
            cursor: pointer;
        }
    }

    th input[type='checkbox']:checked + label {
        border: 1px solid #FFF;
    }

    span {
      &[class*='Label'] {
        padding: 4px 2%;
        margin-right: 1%;
        margin-bottom: 5px;
        border-radius: 5px;
        color: #FFF;
        font-weight: bold;
        display: block;
        float: left;
        width: 25%;
        text-align: center;
      }

      &.actionValue {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        padding: 4px 8px;
        margin-bottom: 5px;
        width: 16em;
      }

      &.conditionTypeLabel, &.actionTypeLabel {
        background-color: #9BBBD6;
      }
      &.conditionValueLabel, &.actionValueLabel {
        background-color: #9BD6D1;
      }

    }

    #balloons {
        ul[id^='balloon_'] {
            background-color: #FFFFFF;
            min-width: 300px;
            letter-spacing: 0.1em;
            line-height: 1.5em;
            padding: 0.5em;
            margin: 0;
            display: none;
            position: fixed;
            border-radius: 3px;
            box-shadow: 0 0 3px rgba(0,0,0,0.5);

            &[id^='balloon_cond_'] li {
                list-style-type: decimal;
                list-style-position: inside;
            }
            &[id^='balloon_act_'] li {
                max-width: 400px;
                word-wrap: break-word;
                white-space: pre-line;
            }
        }
    }

  }

  #tautomessages_form {
    padding-bottom: 50px;

    h3 {
      border-bottom: 3px solid $main-color;
      padding-left: 5px;
    }
    ul { padding: 0 }
    li { margin: 0 }
    section {

      ul.settingList {
        > li {
          padding: 15px 0;

          &:not(.error-message) {
            border-top: 1px solid #B7B7B7;
          }

          &:first-child {
            border-top: none;
          }

          .actBtn {
            width: 10em;
            text-align: center;
            margin: 1em 0 0 1em;
            cursor: pointer;
          }

          > span:first-child {
            width: 15em;
            display: block;
          }

          &#tautomessages_triggers {
            min-height: 300px;
          }

          #setTriggerList {
            width: 30em;
            position: relative;

            > ul {

              >li.error-message {
                padding-left: 0;
                font-size: 12px;
                padding: 5px;
              }

              > items:last-child li.triggerItem:last-child {
                border-bottom: 1px solid $main-color;
              }
              > items li.triggerItem {
                display: block;
                position: relative;
                overflow: hidden;
                transition: height 200ms linear;

                h4 {
                  cursor: pointer;
                  border-color: $main-color;
                  border-style: solid;
                  border-width: 1px 0 0 0;
                  margin: 0;
                  background-color: #FFF;
                  font-weight: bold;

                  span {
                    &.removeArea {
                      width: 2em;
                      float: left;
                      text-align: center;
                      padding: 9px 0.25em;
                      height: 34px;
                    }
                    &.labelArea  {
                      display: block;
                      width: 25.5em;
                      margin-left: 2em;
                      padding: 9px 0.25em;
                      height: 34px;
                    }

                  }

                  i {
                    background-size: 12px;
                    background-repeat: no-repeat;
                    width: 16px;
                    height: 16px;
                    border-radius: 15px;
                    display: block;
                    background-position: 1px;

                    &.remove {
                      border: 1px solid #878787;
                      background-color: #FFFFFF;
                      background-image: url("/img/close_b.png");

                      &:hover {
                        background-color: #CFCFCF;
                      }
                    }

                    &.error {
                      float: right;
                      background-image: url("/img/exclamation_mark.png");
                      background-color: #FF8E9E;
                      width: 15px;
                      height: 15px;
                    }
                  }

                }

                div {
                  padding: 0.5em;
                  border-top: 1px solid $main-color;

                  ul {
                    > li {
                      padding: 0.5em;
                      > span:first-child {
                        width: 8em;
                        display: block;
                      }
                    }

                    &.setDayTime {
                      li:last-child {
                        div:not(.clockpicker) {
                          width:10%;
                          text-align:center;
                        }

                        div.clockpicker {
                          width:45%;

                          input {
                            width: 100%;
                            text-align: center;
                          }
                        }
                      }
                    }

                  }
                }

                &:hover h4{
                  background-color: $list-color;
                }

                &.selected {
                  transition: height 300ms linear 200ms;
                  h4 {
                    background-color: $list-color;
                  }
                }
              }

            }

            div.balloon {
              position: absolute;
              top: 0;
              left: 31em;
              background-color: #FF8E9E;
              z-index: $sub-sidebar-z-index;
              display: none;
              box-shadow: 0 0 2px rgba(0,0,0,0.3);

              p { color: #FFF }
              div.balloonContent {
                position: relative;
                width: 30em;
                min-height: 5em;
                padding: 0 1em;

                &:before {
                  content: " ";
                  position: absolute;
                  border-right: 10px solid #FF8E9E;
                  border-bottom: 14px solid transparent;
                  top: -5px;
                  left: -10px;
                  width: 0;
                  height: 0;
                }

                p { margin: 0; padding: 0; margin-top: 5px }

              }
            }

          }

          #triggerList {

            span#pushImg {
              background-image: url("/img/push.png");
              width: 50px;
              display: block;
              height: 100px;
              background-size: 100%;
              background-repeat: no-repeat;
              float: left;
              margin: 50px 3em;
            }

            > div {
              float: left;

              ul {
                height: 200px;
                border: 1px solid #969696;
                overflow-x: hidden;
                overflow-y: auto;
                padding: 0;
                display: inline-block;

                li {
                  width: 20em;
                  margin: 0;
                  border-bottom: 1px solid #969696;
                  border-width: 0 0 1px 0;
                  padding: 10px 25px 10px 10px;
                  cursor: pointer;

                  &.disableLi {
                    background-color: #BFBFBF;
                  }

                  &:not(.disableLi):hover {
                    background-color: $list-color;
                  }

                  &:last-child {
                    border-bottom: none;
                  }

                }
              }
            }
          }
        }
      }
    }
  }

}

#tdictionaries_idx {
  #tdictionaries_menu {
      .greenBtn {
          border-radius: 15px;
      }
  }
  #tdictionaries_list {
      .ctrlBtnArea {
          padding: 0 25px;
          a {
            margin: 5px;
          }
      }
      .ui-sortable-helper {
          display: table;
      }
  }
}