@charset "UTF-8";

$main-color: #C3D69B;
$string-color: #595959;
$line-color: #B5B5B5;
$error-color: #F57E7E;
$shadow-color: rgba(70, 70, 70, 0.7);
$header-btn-hover-color: #D6E8B0;
$content-min-width: 1000px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $string-color;
}

::selection {
  background-color: #ADAFAE;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  font-weight: normal;
  margin: 0;
}

h1 {
  margin: 6px !important;
  font-size: 15px;
}

li {
  list-style-type: none;
}

.bold {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: none;

  tr:hover {
    background-color: rgba(195, 214, 155, 0.1);
  }

  th, td {
    font-weight: 100;
    font-size: 12px;
    border: 1px solid #8B8B8B;
    border-left: none !important;
    border-top: none !important;

    &:last-child {
      border-right: none !important;
    }

    &:first {
      border: 5px dotted;
    }

  }


  th {
    background-color: $main-color;
    color: $string-color;
    font-weight: bold;
  }

  td {
    border: 1px solid #BFBFBF;
    border-right-color: rgba(0, 0, 0, 0);

    pre {
      padding: 0 5px;
    }

  }

}

.require {
  &:after {
    content: "*";
    color: red;
  }
}

input{
  border: none;
  border-bottom: 1px solid #909090;
  &:focus {
      outline: none!important;
      border-bottom: 1px solid $main-color;
  }
  &.form-error:focus {
      border-bottom-color: $error-color;
  }
}

textarea {
  border-radius: 5px;
  &:focus {
      outline: none!important;
      border-color: $main-color;
  }
  &.form-error:focus {
      border-color: $error-color;
  }
}

select:focus {
  outline-color: $main-color;
}

/**
 *  デバッグ画面
 */

#debug-area {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  background-color: #5A5A5A;
  border: solid 1px;
  display: none;
  z-index: 99;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px $shadow-color;
  margin: 15px 50px 15px 100px;
  caption, td {
    color: #FFF !important;
  }
}

#debug-area-toggle {
  position: fixed;
  right: 300px;
  top: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: #343;
  z-index: 99;
  color: #fff;
  cursor: pointer;
}

div[id$='_list'] {
  table {
    width: 100%;
  }
  th, td {
    height: 60px;

    &.omit {
      width: 20em;

      span {
            width: 20em;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-word;
            white-space: nowrap;
            display: block;
          }
    }
  }
  th {
    padding: 5px;
  }
}

iframe {
  border: none !important;
}

img {
  border-style: none;
  -ms-interpolation-mode: bicubic;
}

@mixin btnHoverEv {
  img {
    transform: scale(0.8);
  }
  &:hover {
    img {
        transform: scale(1);
        transition: transform 0.3s ease;
    }
  }
}

a {
  @include btnHoverEv;

  &[class*='Btn'] {
    color: #FFFFFF;
    text-decoration: none;
  }

  &:hover {
    color: $main-color;
  }
}



/**
 * 共有
 */

.tLeft {
  text-align: left;
}

.tRight {
  text-align: right;
}

.tCenter {
  text-align: center;
}

.fRight {
  float: right;
}

.fLeft {
  float: left;
}

.clear {
  clear: both;
}

.tr180 {
  transform: rotate(180deg);
}

.w05 {
  width: 5%;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w35 {
  width: 35%;
}

.w50 {
  width: 50%;
}

.p15l {
  padding-left: 15px;
}

.p20x {
  padding: 20px;
}

.p20r {
  padding-right: 20px;
}

.p20trl {
  padding: 20px 20px 0 20px;
}

.p20tl {
  padding: 20px 0 0 20px;
}

.m40l {
  margin-left: 40px;
}

.hide {
  display: none;
}

.card-shadow {
  box-shadow: 0 0 5px $shadow-color;
}

.btn-shadow {
  box-shadow: 0 0 2px $shadow-color;
}

.error-message {
  padding: 0;
  margin: 0 0 0 35px;
  color: #F57E7E;
}

/* ボタン */
.greenBtn {
  background-color: #C3D69B;
  border: 1px solid #C3D69B;
  display: block;
  color: white;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
}

.grayBtn {
  background-color: #DADADA;
  border: 1px solid #DADADA;
  display: block;
  color: white;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
}

.redBtn {
  background-color: #D69B9B;
  border: 1px solid #D69B9B;
  display: block;
  color: white;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
}

.blueBtn {
  background-color: #96A3D4;
  border: 1px solid #96A3D4;
  display: block;
  color: white;
  font-weight: bold;
  transition: background-color, border-color 0.1s linear;
}

.btn-shadow {
  &.greenBtn:hover {
    background-color: #A5B77E;
    border: 1px solid #A5B77E;
    transition: background-color, border-color 0.1s linear;
    color: #fff;
  }
  &.redBtn:hover {
    background-color: #B78080;
    border: 1px solid #B78080;
    transition: background-color, border-color 0.1s linear;
    color: #fff;
  }
  &.blueBtn:hover {
    background-color: #808CB7;
    border: 1px solid #808CB7;
    transition: background-color, border-color 0.1s linear;
    color: #fff;
  }
}

.textBtn {
  padding: 2px 5px;
  font-size: 15px;
  text-align: center;
}

/* フォーム部品 */
.form01 {
  position: relative;

  li {
    margin: 15px 0;
    display: flex;

    // フォームエラー
    &.error-message {
      padding-left: 210px;
    }

  }

  div.labelArea {
    width: 15em;
    text-align: right;
    height: 30px;
    padding: 10px 0 0 0;
    margin-right: 20px;

    span {
      vertical-align: middle;
    }
  }

}

/* ヘッダー */

#sys-icon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  z-index: 4;
  width: 60px;
  height: 60px;
}

/* ヘッダー：カラーバー */

#color-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: $content-min-width!important;
  background-color: $main-color;
  height: 60px;
  z-index: 3;
  overflow: hidden;
}

/* ヘッダー：サイドバー */

div[id^="sidebar-"] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  .icon {
    height: 60px !important;
    padding: 7.5px 0 !important;
    position: relative;
  }
}

#sidebar-main {
  background-color: #595959;
  z-index: 2;
  padding-top: 85px;
  width: 60px;
  .icon {
    width: 60px !important;
    &.selected, &:hover {
      background-color: #929292;
      box-shadow: 0 0 3px $shadow-color;
    }
  }
}

div[id^="sidebar-"] .icon {
  a {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  img {
    margin: 7px auto 0 auto;
    display: block;
    transform: scale(0.8);
  }
  &:hover img {
    transform: scale(1);
    transition: transform 0.3s ease;
  }
  p {
    height: 15px !important;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
    font-weight: bold;
    padding-top: 4px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

#sidebar-sub {
  background-color: #929292;
  z-index: 1;
  padding-top: 115px;
  transition: left 0.1s linear;
  width: 80px;
  left: -20px;
  &.open {
    left: 60px;
    transition: left 0.15s linear;
  }
  .icon {
    width: 80px !important;
    &:hover {
      background-color: #B9B9B9;
      box-shadow: 0 0 3px $shadow-color;
    }
  }
}

/* ヘッダー：上部カラーバー */

ul#color-bar-left {
  margin: 0 0 0 60px;
  padding: 0;

  li {
    height: 60px !important;
    padding: 0 10px;

    &#operatorStatus {
      @include btnHoverEv;

      padding: 10px;
      img {
        transform: scale(0.8);
      }

      &:hover {
        background-color: $header-btn-hover-color;
        box-shadow: 0 0 3px $shadow-color;
        img {
          transform: scale(1);
        }
      }

    }
  }
}

ul#color-bar-right {
  margin: 0;
  li {
    height: 60px !important;
    padding: 0 10px;

    p {
      margin: 20px 0;
      height: 20px!important;
      color: #fff;
      font-size: 13px;
      padding: 3.5px 0 3.5px 0;
    }
  }
}

#logout{
  &:hover {
    background-color: $header-btn-hover-color;
    box-shadow: 0 0 3px $shadow-color;
  }

  span {
    font-weight: bold;
  }
}

/* ログイン */
#login_idx_bg {
  background: radial-gradient(at 50% 50%, #A0BDD2 0%, #7B8F9E 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0BDD2', endColorstr='#7B8F9E', GradientType=0)";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

#login_idx {
  position: absolute;
  margin: auto;
  min-width: 300px!important;
  width: 300px!important;
  height: 350px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

#content-area {
  margin: auto;
  height: 320px;
  border: none;
  border-radius: 5px;
  background: -moz-linear-gradient(top, #F8FCFD, #EEF2F3);
  background: -webkit-gradient(linear, left top, left bottom, from(#F8FCFD), to(#EEF2F3));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8FCFD', endColorstr='#EEF2F3', GradientType=0)";
  box-shadow: 0 0 5px $shadow-color;
  padding: 15px;
  .form_area {
    margin: 10px auto;
    padding: 20px 0;
    text-align: center;
    input {
      width: 100%;
      padding: 5px 10px;
      border: none;
      background-color: #FFF;
      height: 40px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0 0 2px 2px rgb(232, 232, 232) inset;
    }
  }
  #MUserFormButton {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 18px;
    width: 100%;
    display: block;
    padding: 5px 5px;
    background-color: #CACACA;
    box-shadow: 0 0 1px $shadow-color;
    &:hover {
      background-color: #9A9292;
    }
  }
}

div {
  &[id$=_idx] {
    width: 90%;
    min-width: $content-min-width!important;
    margin: 50px 50px;
  }
  &[id$=_menu] {
    height: 50px;
  }
  &[id$="_title"] {
    border-bottom: 1px solid #8B8B8B;
    padding: 10px 20px;
    height: 50px;
    p {
      margin: 0;
    }
  }
}

/* リアルタイムモニタ */

#customer_idx {
  #customer_menu {
    a {
      border-radius: 15px;
      padding: 4px;
      display: inline-block;
      height: 30px;
    }
    span {
      border-radius: 15px;
      padding: 4px;
      display: inline-block;
      height: 30px;
      position: absolute;
      left: 2px;
      bottom: 0;
    }
    input {
      padding-left: 25px;
      height: 26px;
      font-size: 12px;
      margin: 2px 5px;
    }
  }
  .monitorBtn {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    width: 5em;
    text-align: center;
  }
}

/* 履歴一覧 */

#history_idx {
  #history_menu {
    height: 50px;
    #paging {
      min-width: 70px;
    }
    span {
      border-radius: 2px;
      border: 0px;
      width: 30px;
      height: 30px;
      display: inline-block;
      img {
        height: 30px;
        width: 30px;
        display: block;
        padding: 2.5px;
      }
    }
  }
  .monitorBtn {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    width: 5em;
    text-align: center;
  }
}

/* コード設置・デモ */

#script_setting_idx {
  width: 90%;
  margin: 50px 50px;
}

#script_setting_content {
  width: 90%;
  $ssc-border-color: #9A9A9A;
  $ssc-content-width: 900px;

  li {
    p {
      background-color: #E3E8E5;
      border: 1px solid $ssc-border-color;
      border-radius: 5px;
      overflow: hidden;
      width: $ssc-content-width;

      span {
        height: 45px;
        float: left;

        &#copyBtn {
          display: inline-block;
          padding: 10px 5px;
          background-color: #FFF;
          border-right: 1px solid $ssc-border-color;
          width: 36px!important;
        }

        &#copyArea {
          height: 45px;
          padding: 10px;
          width: $ssc-content-width - 38px!important;

          input {
            background-color: #E3E8E5;
            height: 25px;
            font-size: 15px;
            border-bottom: none;
            width: 100%;
          }
        }

      }
    }
  }
}

/* ユーザマスタ */

#muser_menu [class$='Btn'] {
  border-radius: 15px;
}

#muser_list table td:last-child {
  width: 100px;
  a {
    width: 35px;
    height: 35px;
    margin: 5px;
    padding: 2px;
  }
}

/* 個人設定 */

#personal_idx {
  #personal_form {
    .form01 {
      width: 600px;
      margin: 0 auto;
    }
    input {
      height: 26px;
      font-size: 12px;
      margin: 2px 5px;
      width: 270px;
      padding-left: 4px;

      &[type='checkbox'] {
        width: auto;
      }

      &[type='radio'] {
        width: auto;
        height: auto;
      }
    }

    #set_password_area {
      border: 1px solid $line-color;
      border-radius: 10px;
      margin-left: 0px;
    }

    #personal_action {
      padding: 10px;
      vertical-align: right;

      a {
        width: 100px;
        padding: 10px;
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

/* ウィジェット */

#m_widget_setting_idx {
  #m_widget_setting_form {
    .form01 {
      width: 800px;
      margin: 0 auto;
    }
    input, select {
      height: 26px;
      font-size: 12px;
      margin: 2px 5px;
      width: 270px;
      padding-left: 4px;

      &[type='checkbox'] {
        width: auto;
      }

      &[type='radio'] {
        width: auto;
        height: auto;
      }
    }

    #set_widget_detail_area {
      border: 1px solid $line-color;
      border-radius: 10px;
      display: inline-block;
      width: 100%;

      h2 {
        text-align: center;
      }

      #widget_detail_area {
        float: left;
        width: 498px;

        .labelArea {
          width: 200px;
        }

        .error-message {
            padding-left: 195px!important;
        }

        input[type='text'], .radio {
          width: 300px;
        }

        textarea {
          width: 300px;
          padding: 10px;
        }
      }

      #sample_widget_area {
        float: right;
        width: 300px;
        padding: 5px;
        #sincloBox {
          margin: 0 auto;
          color: #6B6B6B;

          pre, span {
            font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS Pgothic",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
          }

          p {
            padding: 5px 0; text-align: center; border-top: 1px solid #DBDBDB;color: #A1A1A1!important; height: 20px; font-size: 11px;
          }

          a:hover { color: #ABCD05 }

        }
      }
    }

    #m_widget_setting_action {
      padding: 10px;
      vertical-align: right;
      clear: both;

      a {
        width: 100px;
        padding: 10px;
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

/* テストページ用 */
#testpage_bg {

  #testpage_idx {
    min-height: 120%;
    background-color: #FFF;
    width: 500px!important;
    min-width: 500px!important;
    margin: 10px auto 0 auto;
    border: 3px solid #595959;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
    border-radius: 5px;

    #title {
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid #595959;
      font-size: 15px;
    }

    #detail {
      padding-left: 15px;
      font-weight: bold;
      font-size: 14px;

      ul {
        background-color: #eee;
        width: 90%;
        margin: 0 auto;
        padding: 20px;

        li {
          list-style-type: circle;
          font-size: 12px;
        }
      }
    }

    .form01 {
      ul {
        padding-left: 20px;

        li {
          padding: 20px 10px;

          &.lb {
            padding: 20px 10px 5px 10px;
          }

          input[type="text"], input[type="number"] {
            height: 30px;
            width: 300px;
          }
        }

      }
    }

  }
}
