@charset "UTF-8";

/* ポップアップ */
#popup {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	margin: auto;
	z-index: 51;
}

.popup-off{
	display: none;
}

/* ポップアップ用:バックグラウンド */
#popup-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 50;
}

/* ポップアップ用:表示エリア; */

/* ポップアップ用:装飾系 */
#popup-content {
	position: relative;
}

#popup-ctrl-btn {
	position: absolute;
	top: -10px;
	right: -10px;
}

#popup-ctrl-btn a {
	width: 30px;
	height: 30px;
	padding: 5px;
	float: left;
	margin-right: 5px;
	border-radius: 15px;
}

#popup-content #popup-title {
	padding: 18px 0 5px;
	text-align: center;
	border-bottom: 1px solid #909090;
	font-size: 23px;
	color: #555;
}

#popup-content #popup-main { padding: 20px; }

/* リアルタイムモニタ-ポップアップ用 */
#popup.p-cus-menu { width: 450px; max-height: 80%; display: inline-table; }
#popup.p-cus-menu .ms-container { margin: 0 auto; }
#popup.p-cus-menu #popup-button .textBtn { width: 5em; margin: 0 auto; }
.p-cus-menu #popup-title { height: 50px }
.p-cus-menu #popup-main { display: inline-block; width: 100%; }
.p-cus-menu #popup-button { height: 50px }

/* リアルタイムモニタ-ポップアップ用 */
#popup.p-cus-history { width: 400px; max-height: 300px; display: inline-table; }
#popup.p-cus-history .ms-container { margin: 0 auto; }
#popup.p-cus-history #tBodyDiv { max-height: 300px; overflow-y: auto; overflow-x: hidden; }
#popup.p-cus-history #popup-button .textBtn { width: 5em; margin: 0 auto; }
.p-cus-history #popup-title { height: 50px }
.p-cus-history #popup-main #frame {
	height: 160px;
	width: 100%;
	overflow: auto;
	display: flex;
}
.p-cus-history #popup-button { height: 50px }
.p-cus-history #popup-main table {
    table-layout: fixed;
    border-collapse: collapse;
}
.p-cus-history table th {
    background-color: #C3D69B;
    border: none;
    border-bottom: 1px solid #595959;
    border-left: 1px solid #595959;
}
.p-cus-history table th:first-child {
    border-left: none;
}

.p-cus-history table td {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0);
    border-left: 1px solid rgba(0,0,0,0);
}
.p-cus-history table td:first-child {
    border-left: none;
}
.p-cus-history table .popupHistoryNo { width: 40px; }
.p-cus-history table .popupHistoryUrl { width: 200px; }
.p-cus-history table .popupHistoryTimer { width: 100px; }
.p-cus-history table td span {
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	padding: 2px;
}

/* 履歴一覧-ポップアップ用 */
#popup.p-history-logs { width: 400px; height: 300px; display: inline-table; }
#popup.p-history-logs .ms-container { margin: 0 auto; }
#popup.p-history-logs #popup-button .textBtn { width: 5em; margin: 0 auto; }
.p-history-logs #popup-title { height: 50px }
.p-history-logs #popup-main #frame {
	height: 160px;
	width: 100%;
	overflow: auto;
	display: flex;
}
.p-history-logs #popup-button { height: 50px }
.p-history-logs #popup-main {
	position: relative;
	height: 280px;
	margin: 20px 0;
	padding: 0!important;
}
.p-history-logs #popup-main #tHeadDiv{
	position: absolute;
	top: 0;
	left: 30px;
}
.p-history-logs #popup-main #tBodyDiv{
	height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 360px;
	position: absolute;
	top: 20px;
	left: 30px;
}
.p-history-logs #popup-main table {
    table-layout: fixed;
    border-collapse: collapse;
}
.p-history-logs table th {
    background-color: #C3D69B;
    border: none;
    border-bottom: 1px solid #595959;
    border-left: 1px solid #595959;
}
.p-history-logs table th:first-child {
    border-left: none;
}

.p-history-logs table td {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0);
    border-left: 1px solid rgba(0,0,0,0);
}
.p-history-logs table td:first-child {
    border-left: none;
}
.p-history-logs table .popupHistoryNo { width: 40px; }
.p-history-logs table .popupHistoryUrl { width: 200px; }
.p-history-logs table .popupHistoryTimer { width: 100px; }
.p-history-logs table td span {
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	padding: 2px;
}

#popup.p-muser-entry {
	width: 350px;
	height: 320px;
}

#popup.p-muser-entry #popup-main input,
#popup.p-muser-entry #popup-main select {
	height: 26px;
	font-size: 12px;
	margin: 2px 5px;
	width: 270px;
	padding-left: 4px;
}

.p-muser-entry #popup-main .form01 div {
	margin: 5px 0;
}

.p-muser-entry #popup-main img {
	float: left;
}

.p-muser-entry #popup-button a {
	width: 75px;
	float: left;
	margin: 0 50px;
}

/* 確認ダイアログ */

#popup.p-confirm {
	width: 350px;
	height: 150px;
}

#popup.p-confirm #popup-main {
	text-align: center;
}

#popup.p-confirm #popup-main input,
#popup.p-confirm #popup-main select {
	height: 26px;
	font-size: 12px;
	margin: 2px 5px;
	width: 270px;
	padding-left: 4px;
}

.p-confirm #popup-main .form01 div {
	margin: 5px 0;
}

.p-confirm #popup-main img {
	float: left;
}

.p-confirm #popup-button a {
	width: 75px;
	float: left;
	margin: 0 50px;
}
