@charset "UTF-8";


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #595959;
}
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 12px;
	line-height: 1.3;
	font-weight: normal;
	margin: 0;
}
h1 {
	margin: 6px!important;
	font-size: 15px
}

table {
	border-collapse: collapse;
	border: none;
}

th,
td {
	font-weight: 100;
	font-size: 12px;
	border: 1px solid #8B8B8B;
	border-left: none!important;
	border-top: none!important;
}

th:last-child,
td:last-child { border-right: none!important }

th:first,
td:first { border: 5px dotted }

th {
	background-color: #C3D69B;
	color: #595959;
	font-weight: bold;
}

td {
	border: 1px solid #BFBFBF;
	border-right-color: rgba(0,0,0,0);
}

td pre{ padding: 0 5px }

div[id$='_list'] table {
	width: 100%;
}
div[id$='_list'] th,
div[id$='_list'] td{
	height: 60px;
}

div[id$='_list'] th { padding: 5px; }

iframe {
	border: none!important;
}
img { border-style:none; }
a:hover { color: #C3D69B; }

/* 共有 */
.tLeft { text-align: left }
.tRight { text-align: right }
.tCenter { text-align: center }
.fRight { float: right; }
.fLeft { float: left; }
.clear { clear: both; }
.tr180 { transform: rotate(180deg) }

.w05 { width:  5% }
.w10 { width: 10% }
.w15 { width: 15% }
.w20 { width: 20% }
.w25 { width: 25% }
.w30 { width: 30% }
.w35 { width: 35% }
.w50 { width: 50% }
.p20x { padding: 20px }
.p20r { padding-right: 20px }
.p20trl { padding: 20px 20px 0 20px }
.p20tl { padding: 20px 0 0 20px }
.hide { display: none; }
.card-shadow { box-shadow: 0 0 5px rgba(70,70,70,0.7); }
.btn-shadow { box-shadow: 0 0 2px rgba(70,70,70,0.7); }
.error-message {
	padding: 0;
	margin: 0 0 0 35px;
	color: #F57E7E;
}

/* ボタン */
a[class*='Btn'] { color: #FFFFFF; text-decoration: none; }
.greenBtn {
	background-color: #C3D69B;
	border: 1px solid #C3D69B;
	display: block;
	color: white;
	font-weight: bold;
	transition: background-color, border-color 0.1s linear;
}
.grayBtn {
	background-color: #DADADA;
	border: 1px solid #DADADA;
	display: block;
	color: white;
	font-weight: bold;
	transition: background-color, border-color 0.1s linear;
}
.redBtn {
	background-color: #D69B9B;
	border: 1px solid #D69B9B;
	display: block;
	color: white;
	font-weight: bold;
	transition: background-color, border-color 0.1s linear;
}
.blueBtn {
	background-color: #96A3D4;
	border: 1px solid #96A3D4;
	display: block;
	color: white;
	font-weight: bold;
	transition: background-color, border-color 0.1s linear;
}
.btn-shadow.greenBtn:hover {
	background-color: #A5B77E;
	border: 1px solid #A5B77E;
	transition: background-color, border-color 0.1s linear;
}
.btn-shadow.redBtn:hover {
	background-color: #B78080;
	border: 1px solid #B78080;
	transition: background-color, border-color 0.1s linear;
}

.btn-shadow.blueBtn:hover {
	background-color: #808CB7;
	border: 1px solid #808CB7;
	transition: background-color, border-color 0.1s linear;
}

.textBtn {
	padding: 2px 5px;
	font-size: 15px;
	text-align: center;
}

/* フォーム部品 */
.form01 input {
	border: none;
	border-bottom: 1px solid #909090;
}

/* ヘッダー */
#sys-icon {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
	z-index: 4;
	width: 60px;
	height: 60px;
	padding: 5px;
}

/* ヘッダー：カラーバー */
#color-bar {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	background-color: #C3D69B;
	height: 60px;
	z-index: 3;
	overflow: hidden;
}

/* ヘッダー：サイドバー */
div[id^="sidebar-"] {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	overflow: hidden;
}

div[id^="sidebar-"] .icon {
	height: 60px!important;
	padding: 7.5px 0!important;
	position: relative;
}

#sidebar-main {
	background-color: #595959;
	z-index: 2;
	padding-top: 85px;
	width: 60px;
}

#sidebar-main .icon{
	width: 60px!important;
}

#sidebar-main .icon.selected,
#sidebar-main .icon:hover {
    background-color: #929292;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

div[id^="sidebar-"] .icon a {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

div[id^="sidebar-"] .icon img {
	margin: 7px auto 0 auto;
	display: block;
}

div[id^="sidebar-"] .icon p {
	height: 15px!important;
	font-size: 11px;
	text-align: center;
	margin: 0 auto;
	color: #FFF;
	font-weight: bold;
	padding-top: 4px;
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
}

div[id^="sidebar-"] .icon p:hover {
	cursor: pointer;
}

#sidebar-sub {
	background-color: #929292;
	z-index: 1;
	padding-top: 115px;
	transition: left 0.1s linear;
	width: 80px;
	left: -20px;
}

#sidebar-sub.open {
	left: 60px;
	transition: left 0.15s linear;
}

#sidebar-sub .icon{
	width: 80px!important;
}

#sidebar-sub .icon:hover {
    background-color: #B9B9B9;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* ヘッダー：上部カラーバー */
#color-bar-right {
	height: 60px!important;

}

#color-bar-right div {
	bottom: 0;
	padding: 15px 0;
	display: inline-flex;
}

#logout:hover {
	background-color: #D6E8B0;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#color-bar-right div span{
	padding: 5px 10px;
	height: 30px!important;
	color: #fff;
}

#logout span{
	font-weight: bold;
}

/* ログイン */
#login_idx_bg {
	background: radial-gradient(at 50% 50%, #A0BDD2 0%, #7B8F9E 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0BDD2', endColorstr='#7B8F9E', GradientType=0)";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}

#login_idx {
	position: absolute;
	margin: auto;
	width: 300px;
	height: 350px;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

#content-area {
	margin: auto;
	height: 320px;
	border: none;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #F8FCFD, #EEF2F3);
	background: -webkit-gradient(linear, left top, left bottom, from(#F8FCFD), to(#EEF2F3));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8FCFD', endColorstr='#EEF2F3', GradientType=0)";
	box-shadow: 0 0 5px;
	padding: 15px;
}

#content-area .form_area{
	margin: 10px auto;
	padding: 20px 0;
	text-align: center;
}

#content-area .form_area input{
	width: 100%;
	padding: 5px 10px;
	border: none;
	background-color: #FFF;
	height: 40px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 0 2px 2px rgb(232, 232, 232) inset;
}

#content-area #MUserFormButton{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: monospace;
	font-size: 18px;
	width: 100%;
	display: block;
	padding: 5px 5px;
	background-color: #CACACA;
	box-shadow: 0 0 1px rgba(0,0,0,0.7);
}

#content-area #MUserFormButton:hover{
	background-color: #9A9292;
}

div[id$=_idx] {
	width: 90%;
	margin: 50px 50px;
}

div[id$=_menu] {
	height: 50px;
}

div[id$="_title"] {
	border-bottom: 1px solid #8B8B8B;
	padding: 10px 20px;
	height: 50px;
}

div[id$="_title"] p{
	margin: 0;
}

/* リアルタイムモニタ */
#customer_idx #customer_menu .form01 {
	position: relative;
}

#customer_idx #customer_menu a,
#customer_idx #customer_menu span{
	border-radius: 15px;
	padding: 4px;
	display: inline-block;
	height: 30px;
}

#customer_idx #customer_menu span{
	position: absolute;
	left: 2px;
	bottom: 0;
}

#customer_idx #customer_menu input{
	padding-left: 25px;
	height: 26px;
	font-size: 12px;
	margin: 2px 5px;
}

#customer_idx .monitorBtn {
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
	margin: 0 auto;
	display: block;
	width: 5em;
	text-align: center;
}

/* 履歴一覧 */
#history_idx #history_menu {
	height: 50px;
}

#history_idx #history_menu #paging{
	min-width: 70px;
}

#history_idx #history_menu span{
	border-radius: 2px;
	border: 0px;
	width: 30px;
	height: 30px;
	display: inline-block;
}

#history_idx #history_menu span img{
	height: 30px;
	width: 30px;
	display: block;
	padding: 2.5px;
}

#history_idx .monitorBtn {
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
	margin: 0 auto;
	display: block;
	width: 5em;
	text-align: center;
}

/* コード設置・デモ */
#script_setting_idx {
	width: 90%;
	margin: 50px 50px;
}

#script_setting_content {
	width: 90%;
}

/* ユーザマスタ */
#muser_menu [class$='Btn']{
	border-radius: 15px;
}